.akounto_com_img{background-image:url(../images/_folder_/akounto_com_img.jpg);}
.akountobooks_com_img{background-image:url(../images/_folder_/akountobooks_com_img.jpg);}

.alefmeem_store::after{background-image:url(../images/_folder_/alefmeem_store_img.jpg);}
.stemcityusa_com::after{background-image:url(../images/_folder_/stemcityusa_com_img.jpg);}
.osmosalt_com::after{background-image:url(../images/_folder_/osmosalt_com_img.jpg);}

._7qasearch_com_img{background-image:url(../images/_folder_/7qasearch_com_img.jpg);}
.a2znumber_com_img{background-image:url(../images/_folder_/a2znumber_com.jpg);}
.airlineschange_com_img{background-image:url(../images/_folder_/airlineschange_com.jpg);}
.allphonesupport_com_img{background-image:url(../images/_folder_/allphonesupport_com.jpg);}
.allsupportno_com_img{background-image:url(../images/_folder_/allsupportno_com.jpg);}
.supportno_com_img{background-image:url(../images/_folder_/supportno_com.jpg);}
.alltfn_com_img{background-image:url(../images/_folder_/alltfn_com.jpg);}
.alternativenumber_com_img{background-image:url(../images/_folder_/alternativenumber_com.jpg);}
.anvsupport_com_img{background-image:url(../images/_folder_/anvsupport_com.jpg);}
.askpromptly_com_img{background-image:url(../images/_folder_/askpromptly_com.jpg);}
.changemyflights_com_img{background-image:url(../images/_folder_/changemyflights_com.jpg);}
.cheapflightinfo_com_img{background-image:url(../images/_folder_/cheapflightinfo_com.jpg);}
.codingversity_org_img{background-image:url(../images/_folder_/codingversity_org.jpg);}
.contactforhelpnumber_com_img{background-image:url(../images/_folder_/contactforhelpnumber_com.jpg);}
.csversity_org_img{background-image:url(../images/_folder_/csversity_org.jpg);}
.dmversity_org_img{background-image:url(../images/_folder_/dmversity_org.jpg);}
.dsversity_org_img{background-image:url(../images/_folder_/dsversity_org.jpg);}
.ebiztown_com_img{background-image:url(../images/_folder_/ebiztown_com.jpg);}
.emailcustomerservicehelp_com_img{background-image:url(../images/_folder_/emailcustomerservicehelp_com.jpg);}
.fareodeal_com_img{background-image:url(../images/_folder_/fareodeal_com.jpg);}
.faresboutique_com_img{background-image:url(../images/_folder_/faresboutique_com.jpg);}
.faresglob_com_img{background-image:url(../images/_folder_/faresglob_com.jpg);}
.fareskhalifa_com_img{background-image:url(../images/_folder_/fareskhalifa_com.jpg);}
.flycoair_com_img{background-image:url(../images/_folder_/flycoair_com.jpg);}
.fortuneserve_com_img{background-image:url(../images/_folder_/fortuneserve_com.jpg);}
.gethelpnumber_com_img{background-image:url(../images/_folder_/gethelpnumber_com.jpg);}
.globalinfonic_com_img{background-image:url(../images/_folder_/globalinfonic_com.jpg);}
.gmailfaqs_com_img{background-image:url(../images/_folder_/gmailfaqs_com.jpg);}
.gmailsphonenumber_com_img{background-image:url(../images/_folder_/gmailsphonenumber_com.jpg);}
.gmailsupportpedia_com_img{background-image:url(../images/_folder_/gmailsupportpedia_com.jpg);}
.guidebuz_com_img{background-image:url(../images/_folder_/guidebuz_com.jpg);}
.helplinenos_com_img{background-image:url(../images/_folder_/helplinenos_com.jpg);}
.helpquicky_com_img{background-image:url(../images/_folder_/helpquicky_com.jpg);}
.helpskey_com_img{background-image:url(../images/_folder_/helpskey_com.jpg);}
.helptechsupportnumber_com_img{background-image:url(../images/_folder_/helptechsupportnumber_com.jpg);}
.herehelpu_com_img{background-image:url(../images/_folder_/herehelpu_com.jpg);}
.hotmailcustomercare_com_img{background-image:url(../images/_folder_/hotmailcustomercare_com.jpg);}
.hotmailtechsupport_com_img{background-image:url(../images/_folder_/hotmailtechsupport_com.jpg);}
.hubcustomersupport_com_img{background-image:url(../images/_folder_/hubcustomersupport_com.jpg);}
.infohouze_com_img{background-image:url(../images/_folder_/infohouze_com.jpg);}
.infoopedia_com_img{background-image:url(../images/_folder_/infoopedia_com.jpg);}
.instohelp_com_img{background-image:url(../images/_folder_/instohelp_com.jpg);}
.invoicefundingsolutions_com_img{background-image:url(../images/_folder_/invoicefundingsolutions_com.jpg);}
.isupportnumber_com_img{background-image:url(../images/_folder_/isupportnumber_com.jpg);}
.itfixtech_com_img{background-image:url(../images/_folder_/itfixtech_com.jpg);}
.ithelpnumber_com_img{background-image:url(../images/_folder_/ithelpnumber_com.jpg);}
.learnaside_com_img{background-image:url(../images/_folder_/learnaside_com.jpg);}
.learningua_com_img{background-image:url(../images/_folder_/learningua_com.jpg);}
.livegeekschat_net_img{background-image:url(../images/_folder_/livegeekschat_net.jpg);}
.lookatfares_com_img{background-image:url(../images/_folder_/lookatfares_com.jpg);}
.majestytravels_com_img{background-image:url(../images/_folder_/majestytravels_com.jpg);}
.myfaresadda_com_img{background-image:url(../images/_folder_/myfaresadda_com.jpg);}
.myteches_com_img{background-image:url(../images/_folder_/myteches_com.jpg);}
.nitroinfotech_com_img{background-image:url(../images/_folder_/nitroinfotech_com.jpg);}
.nobelapp_net_img{background-image:url(../images/_folder_/nobelapp_net.jpg);}
.numberforhelp_com_img{background-image:url(../images/_folder_/numberforhelp_com.jpg);}
.numberreviews_com_img{background-image:url(../images/_folder_/numberreviews_com.jpg);}
.nyitm_com_img{background-image:url(../images/_folder_/nyitm_com.jpg);}
.psupportnumber_com_img{background-image:url(../images/_folder_/psupportnumber_com.jpg);}
.pwsupportnumber_com_img{background-image:url(../images/_folder_/pwsupportnumber_com.jpg);}
.questohub_com_img{background-image:url(../images/_folder_/questohub_com.jpg);}
.quickcaribbean_com_img{background-image:url(../images/_folder_/quickcaribbean_com.jpg);}
.quicklatino_com_img{background-image:url(../images/_folder_/quicklatino_com.jpg);}
.quickosupport_com_img{background-image:url(../images/_folder_/quickosupport_com.jpg);}
.quicktechnicalsupport_com_img{background-image:url(../images/_folder_/quicktechnicalsupport_com.jpg);}
.reservationsdeal_com_img{background-image:url(../images/_folder_/reservationsdeal_com.jpg);}
.reservationssticket_com_img{background-image:url(../images/_folder_/reservationssticket_com.jpg);}
.snva_com_img{background-image:url(../images/_folder_/snva_com.jpg);}
.ss-geeks_com_img{background-image:url(../images/_folder_/ss-geeks_com.jpg);}
.tecask_com_img{background-image:url(../images/_folder_/tecask_com.jpg);}
.thelabelbar_com_img{background-image:url(../images/_folder_/thelabelbar_com.jpg);}
.thelivexperts_com_img{background-image:url(../images/_folder_/thelivexperts_com.jpg);}
.tracingpage_com_img{background-image:url(../images/_folder_/tracingpage_com.jpg);}
.tripocost_com_img{background-image:url(../images/_folder_/tripocost_com.jpg);}
.vic2soft_com_img{background-image:url(../images/_folder_/vic2soft_com.jpg);}
.way2career_co_img{background-image:url(../images/_folder_/way2career_co.jpg);}
.ysupportnumber_com_img{background-image:url(../images/_folder_/ysupportnumber_com.jpg);}
.versity_in_img{background-image:url(../images/_folder_/versity_in.jpg);}



.holidaytanks_com_img{background-image:url(../images/_folder_/holidaytanks_com.jpg);}
.flightszoom_co_uk_img{background-image:url(../images/_folder_/flightszoom_co_uk.jpg);}
.flightszoom_com_img{background-image:url(../images/_folder_/flightszoom_com.jpg);}
.phdversity_com_img{background-image:url(../images/_folder_/phdversity_com.jpg);}
.aasthahomes_com_img{background-image:url(../images/_folder_/aasthahomes_com.jpg);}
.travomint_co_uk_img{background-image:url(../images/_folder_/travomint_co_uk.jpg);}
.travomint_com_img{background-image:url(../images/_folder_/travomint_com.jpg);}
.traveloes_co_uk_img{background-image:url(../images/_folder_/traveloes_co_uk.jpg);}
.traveloes_com_img{background-image:url(../images/_folder_/traveloes_com.jpg);}
.cheapflightadvisor_com_img{background-image:url(../images/_folder_/cheapflightadvisor_com.jpg);}
.flightrouteinfo_com_img{background-image:url(../images/_folder_/flightrouteinfo_com.jpg);}
.onlinegamesupportplus_com_img{background-image:url(../images/_folder_/onlinegamesupportplus_com.jpg);}
.routersupportplus_com_img{background-image:url(../images/_folder_/routersupportplus_com.jpg);}
.printersupportplus_com_img{background-image:url(../images/_folder_/printersupportplus_com.jpg);}
.antivirusupportplus_com_img{background-image:url(../images/_folder_/antivirusupportplus_com.jpg);}
.desktopsupportplus_com_img{background-image:url(../images/_folder_/desktopsupportplus_com.jpg);}
.emailsupportplus_com_img{background-image:url(../images/_folder_/emailsupportplus_com.jpg);}
.computerssupportplus_com_img{background-image:url(../images/_folder_/computerssupportplus_com.jpg);}
.mobilesupportplus_com_img{background-image:url(../images/_folder_/mobilesupportplus_com.jpg);}
.webmailsupportplus_com_img{background-image:url(../images/_folder_/webmailsupportplus_com.jpg);}
.internetsupportplus_com_img{background-image:url(../images/_folder_/internetsupportplus_com.jpg);}
.browsersupportplus_com_img{background-image:url(../images/_folder_/browsersupportplus_com.jpg);}
.hardwaresupportplus_com_img{background-image:url(../images/_folder_/hardwaresupportplus_com.jpg);}
.modemsupportplus_com_img{background-image:url(../images/_folder_/modemsupportplus_com.jpg);}
.laptopsupportplus_com_img{background-image:url(../images/_folder_/laptopsupportplus_com.jpg);}
.websitesupportplus_com_img{background-image:url(../images/_folder_/websitesupportplus_com.jpg);}
.passwordrecoverysupportplus_com_img{background-image:url(../images/_folder_/passwordrecoverysupportplus_com.jpg);}
.windowssupportplus_com_img{background-image:url(../images/_folder_/windowssupportplus_com.jpg);}
.echeck360_com_img{background-image:url(../images/_folder_/echeck360_com.jpg);}
.uni_versity_in_img{background-image:url(../images/_folder_/uni_versity_in.jpg);}
.sixsigmaversity_org_img{background-image:url(../images/_folder_/sixsigmaversity_org.jpg);}
.laruetreefarm_com_img{background-image:url(../images/_folder_/laruetreefarm_com.jpg);}
.uhawaii_org_img{background-image:url(../images/_folder_/uhawaii_org.jpg);}
.edukasion_com_img{background-image:url(../images/_folder_/edukasion_com.jpg);}
.highriskgateway_in_img{background-image:url(../images/_folder_/highriskgateway_in.jpg);}
.honorary_phd_com_img{background-image:url(../images/_folder_/honorary_phd_com.jpg);}
.icasr_org_img{background-image:url(../images/_folder_/icasr_org.jpg);}
.american_uni_img{background-image:url(../images/_folder_/american_uni.jpg);}
.ehelplinenumber_com_img{background-image:url(../images/_folder_/ehelplinenumber_com.jpg);}
.quicktechnicalsupport_com_img{background-image:url(../images/_folder_/quicktechnicalsupport_com.jpg);}
.anpuhelp_com_img{background-image:url(../images/_folder_/anpuhelp_com.jpg);}
.askbuz_com_img{background-image:url(../images/_folder_/askbuz_com.jpg);}
.instanttfn_com_img{background-image:url(../images/_folder_/instanttfn_com.jpg);}
.fixtechhelp_com_img{background-image:url(../images/_folder_/fixtechhelp_com.jpg);}
.etechhelps_com_img{background-image:url(../images/_folder_/etechhelps_com.jpg);}
.vikuhelp_com_img{background-image:url(../images/_folder_/vikuhelp_com.jpg);}
.searchangout_com_img{background-image:url(../images/_folder_/searchangout_com.jpg);}
.bigpbx_com_img{background-image:url(../images/_folder_/bigpbx_com.jpg);}
.cyberzoomlabs_com_img{background-image:url(../images/_folder_/cyberzoomlabs_com.jpg);}
.buzzmeweb_com_img{background-image:url(../images/_folder_/buzzmeweb_com.jpg);}
.travel26_com_img{background-image:url(../images/_folder_/travel26_com.jpg);}
.itphonenumber_com_img{background-image:url(../images/_folder_/itphonenumber_com.jpg);}
.ifixscotland_com_img{background-image:url(../images/_folder_/ifixscotland.jpg);}
.executivemba_online_img{background-image:url(../images/_folder_/executivemba_online.jpg);}
.subharti_uni_img{background-image:url(../images/_folder_/subharti_uni.jpg);}
.careerera_com_img{background-image:url(../images/_folder_/careerera_com.jpg);}
.cheapflighto_net_img{background-image:url(../images/_folder_/cheapflighto_net.jpg);}
.nextecdubai_com_img{background-image:url(../images/_folder_/nextecdubai_com.jpg);}
.vizmedia360_com_img{background-image:url(../images/_folder_/vizmedia360_com.jpg);}
.computersrevolution_com_img{background-image:url(../images/_folder_/computersrevolution_com.jpg);}
.flightsbuddy_co_uk_img{background-image:url(../images/_folder_/flightsbuddy_co_uk.jpg);}
.bookmyflightticket_com_img{background-image:url(../images/_folder_/bookmyflightticket_com.jpg);}
.onsitetechies_org_img{background-image:url(../images/_folder_/onsitetechies_org.jpg);}
.flightstrade_com_img{background-image:url(../images/_folder_/flightstrade_com.jpg);}
.etechys_com_img{background-image:url(../images/_folder_/etechys_com.jpg);}
.gmailsphonenumber_com_img{background-image:url(../images/_folder_/gmailsphonenumber_com.jpg);}
.epasswordrecovery_com_img{background-image:url(../images/_folder_/epasswordrecovery_com.jpg);}
.supportonphone_com_img{background-image:url(../images/_folder_/supportonphone_com.jpg);}
.fasttechhub_com_img{background-image:url(../images/_folder_/fasttechhub_com.jpg);}
.bba_admission_com_img{background-image:url(../images/_folder_/bba_admission_com.jpg);}
.bca_admission_com_img{background-image:url(../images/_folder_/bca_admission_com.jpg);}
.mbaadmission2018_com_img{background-image:url(../images/_folder_/mbaadmission2018_com.jpg);}
.bed_admission_in_img{background-image:url(../images/_folder_/bed_admission_in.jpg);}
.cyberzoom_net_img{background-image:url(../images/_folder_/cyberzoom_net.jpg);}
.eximiussolution_com_img{background-image:url(../images/_folder_/eximiussolution_com.jpg);}
.fareguru_co_uk_img{background-image:url(../images/_folder_/fareguru_co_uk.jpg);}
.faretrolly_com_img{background-image:url(../images/_folder_/faretrolly_com.jpg);}
.faretrust_co_uk_img{background-image:url(../images/_folder_/faretrust_co_uk.jpg);}
.faretrust_com_img{background-image:url(../images/_folder_/faretrust_com.jpg);}
.gizmomarvel_com_img{background-image:url(../images/_folder_/gizmomarvel_com.jpg);}
.itechnoinc_net_img{background-image:url(../images/_folder_/itechnoinc_net.jpg);}
.onetechies_com_img{background-image:url(../images/_folder_/onetechies_com.jpg);}
.onsitesolution_org_img{background-image:url(../images/_folder_/onsitesolution_org.jpg);}
.passwordresetsupportplus_com_img{background-image:url(../images/_folder_/passwordresetsupportplus_com.jpg);}
.reservationss_com_img{background-image:url(../images/_folder_/reservationss_com.jpg);}
.scrumversity_org_img{background-image:url(../images/_folder_/scrumversity_org.jpg);}
.snvabpo_com_img{background-image:url(../images/_folder_/snvabpo_com.jpg);}
.tophelpline_com_img{background-image:url(../images/_folder_/tophelpline_com.jpg);}
.touraza_com_img{background-image:url(../images/_folder_/touraza_com.jpg);}
.travohelp_com_img{background-image:url(../images/_folder_/travohelp_com.jpg);}
.travomart_com_img{background-image:url(../images/_folder_/travomart_com.jpg);}
.vialra_com_img{background-image:url(../images/_folder_/vialra_com.jpg);}

.citybreak1_co_uk_img{background-image:url(../images/_folder_/citybreak1_co_uk.jpg);}
.ticketstousa_co_uk_img{background-image:url(../images/_folder_/ticketstousa_co_uk.jpg);}
.ticketstoindia_co_uk_img{background-image:url(../images/_folder_/ticketstoindia_co_uk.jpg);}
.ticketstoworld_co_uk_img{background-image:url(../images/_folder_/ticketstoworld_co_uk.jpg);}
.ticketstopakistan_co_uk_img{background-image:url(../images/_folder_/ticketstopakistan_co_uk.jpg);}
.myamsterdam_co_uk_img{background-image:url(../images/_folder_/myamsterdam_co_uk.jpg);}

.dubai_visa_img{background-image:url(../images/_folder_/dubai_visa.jpg);}

.visasoftheworld_in_img{background-image:url(../images/_folder_/visasoftheworld_in.jpg);}
.digitized_it_com_img{background-image:url(../images/_folder_/digitized_it_com.jpg);}
.blsindiavisa_uae_com_img{background-image:url(../images/_folder_/blsindiavisa_uae_com.jpg);}
.blsindia_sg_img{background-image:url(../images/_folder_/blsindia_sg.jpg);}
.blsindiavisa_austria_com_img{background-image:url(../images/_folder_/blsindiavisa_austria_com.jpg);}
.blsindia_canada_com_img{background-image:url(../images/_folder_/blsindia_canada_com.jpg);}
.blsindia_china_com_img{background-image:url(../images/_folder_/blsindia_china_com.jpg);}
.blsindia_hongkong_com_img{background-image:url(../images/_folder_/blsindia_hongkong_com.jpg);}
.blsisrael_ken_com_img{background-image:url(../images/_folder_/blsisrael_ken_com.jpg);}
.blsindiavisa_lithuania_com_img{background-image:url(../images/_folder_/blsindiavisa_lithuania_com.jpg);}
.blsindia_norway_com_img{background-image:url(../images/_folder_/blsindia_norway_com.jpg);}
.blsindia_oman_com_img{background-image:url(../images/_folder_/blsindia_oman_com.jpg);}
.blsindiavisa_ph_com_img{background-image:url(../images/_folder_/blsindiavisa_ph_com.jpg);}
.blsindiavisa_poland_com_img{background-image:url(../images/_folder_/blsindiavisa_poland_com.jpg);}
.blsindia_russia_com_img{background-image:url(../images/_folder_/blsindia_russia_com.jpg);}
.blshungary_azerbaijan_com_img{background-image:url(../images/_folder_/blshungary_azerbaijan_com.jpg);}
.india_blsattestation_com_img{background-image:url(../images/_folder_/india_blsattestation_com.jpg);}
.getdubaivisa_com_img{background-image:url(../images/_folder_/getdubaivisa_com.jpg);}
.bls_malaysia_com_img{background-image:url(../images/_folder_/bls_malaysia.jpg);}
.blsindia_malaysia_com_img{background-image:url(../images/_folder_/blsindia_malaysia_com.jpg);}