@import "./common/fonts";
@import "./common/variables";
@import "./common/heading";
@import "./common/buttons";
@import "./common/grid";

@import "./modules/Header";
@import "./modules/Footer";
@import "./modules/LifeStyle";
@import "./modules/ContactUs.scss";
@import "./modules/Childhood.scss";
@import "./modules/welcome.scss";
@import "./modules/about.scss";
@import "./modules/ads1.scss";
@import "./modules/ads2.scss";
@import "./modules/sidebar.scss";
@import "./modules/education.scss";
@import "./modules/experience.scss";
@import "./modules/skills.scss";
@import "./modules/team.scss";
@import "./modules/whyChooseUs.scss";


// html {scroll-behavior: smooth;}
body{font-family: Arial, Helvetica, sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

a, button{@extend %trans;text-decoration: none;}
b, strong{font-weight: bold;}
img{@extend %userSelect;}

body{color:var(--f1);
    &::before{width: 100%;height: 100%;position: fixed;top:0;left:100%;background: rgba(0,0,0,0.9);z-index: 9999;content:"";@extend %trans;}
    &.back{overflow: hidden;
        &::before{left:0;}
    }
}

main {width:100%;overflow:clip;@extend %fc;min-height: 100vh;min-height: -webkit-fill-available;min-height: 100dvh;
    > *{width:100%;@extend %fc;}
    > hr{height: 1px;border: none;background: var(--b1);}
    > .banner{
        background: var(--c1);
        position: relative;
        // &::before{width: 100%;height: 100%;content: "";position: absolute;top:0;left:0;background: rgba(0,0,0,0.75);}
        &.homeBanner{
            .container{position: relative;margin-bottom:90px;
                .row{justify-content: flex-start;}
            }
        }
        .img{width: 100%;border:10px solid var(--c2);}
        .hd, .txt{color:#fff;width: 100%;display: flex;}
        .hd{font-weight: bold;font-size: 60px;line-height: 1.2;margin-block: 16px;}
        .txt{margin-bottom: 24px;font-size: 20px;}
        // .btns{
        //     > a{
        //         &:hover, &:active, &:focus{background: var(--c1);}
        //     }
        // }
    }
    > .b1{background-color: var(--g1);}
    > .b2{background-color: var(--g2);}
    > .bgt{background-image: linear-gradient(to bottom, var(--g1), #fff 56px);}
    > .bgb{background-image: linear-gradient(to top, var(--g1), #fff 56px);}
    > .bgtb{background: linear-gradient(to bottom, var(--g1), #fff 56px) top no-repeat, linear-gradient(to top, var(--g1), #fff 56px) bottom no-repeat;background-size: 100% 56px;}
    .blt, .blb, .bltb{position: relative;
        &::before, &::after{width: 100%;background-color: var(--c2);position: absolute;left:0;}
    }
    > .blt::before{bottom: 100%;content:"";}
    > .blb::after{top: 100%;content:"";}
    > .bltb{
        &::before{bottom: 100%;content:"";}
        &::after{top: 100%;content:"";}
    }
    > .bd{background-color: var(--c1);
        hgroup{
            h1, h2, h3, h4, h5, h6, p{color:#fff;}
            ul, ol{margin-top: 8px;
                > li{display: flex;
                    > a{display: flex;align-items: center;gap:4px 12px;color:#fff;font-size:18px;text-align:left;line-height:1.2;
                        > img{width:32px;height: 32px;}
                    }
                }
            }
        }
    }
    > .colorsLine{display: flex;padding: 0;margin: 0;flex-direction:row;
        > li{list-style: none;height: 10px;
            &:nth-child(1){background: var(--cb1);width: 60%;}
            &:nth-child(2){background: var(--cb2);width: 10%;}
            &:nth-child(3){background: var(--cb4);width: 20%;}
            &:nth-child(4){background: var(--cb7);width: 10%;}
        }
        &.reverse{flex-direction: row-reverse;
            > li{width: 100%;background: #000;}
        }
    }
    > .innerPage{position: relative;
        .order{@extend %fc;row-gap: 32px;}
        .box1{text-align: center;}
    }
}

.outlineBox {width: 100%;border: 1px solid var(--f1);padding: 32px;background: var(--g1);@extend %fc;row-gap:8px;color: var(--f2);
    > b{font-size: 24px;font-weight: bold;line-height: 1.2;color: var(--f1);}
    > span{color:var(--f2);}
}

.unlist, .list{@extend %fc;margin-bottom:24px;row-gap:12px;
    > li{list-style: none;position: relative;padding-left:28px;
        &::before{width: 20px;height: 20px;border-radius: 100%;background: var(--c1);position: absolute;top:3px;left:0;color:#fff;font-size: 12px;@extend %center;font-weight: bold;}
        b, strong{font-weight: bold;}
        > a{color:inherit;}
    }
}
.unlist > li::before{font-family: fontello;content:"\a030";}
.list{counter-reset:number;
    > li::before{counter-increment:number;content:counter(number);}
}

.content{@extend %fc;width: 100%;
    ul, ol{@extend %fc;}
    h1, h2, h3, h4, h5, h6 {font-size: 24px;font-weight: bold;line-height: 1.2;margin-bottom: 12px;color:var(--font);
        &:not(:first-child) {margin-top: 18px;}
    }
    p, ul, ol {margin-bottom: 12px;}
    i, em {font-style: italic;}
    u {text-decoration: underline;}
    b, strong {font-weight: bold;}
    a:not(.btns > a) {display: inline-block;color: var(--c1) !important;text-decoration: underline;
        &:hover, &:active, &:focus {text-decoration: none;}
    }
    ul{@extend .unlist;}
    ol{@extend .list;}
}

.breadcrumbs{padding-block: 12px;background:var(--g1);
    ul{width: 100%;display: flex;flex-wrap: wrap;padding: 0;margin: 0;gap: 4px 11px;
        > li{list-style: none;line-height: 1.1;display:flex;
            > a{color: var(--c2);font-weight: bold;}
            &:not(:last-child){position: relative;padding-right: 16px;
                &::after{font-family: fontello;content:"\a030";position: absolute;right: 0;}
            }
        }
    }
}

.faqs{width: 100%;@extend %fc;border: 1px solid var(--b1);padding:32px;max-width:1000px;margin-inline: auto;background:#fff;
    .faqsArea{width: 100%;@extend %fc;
        > *{padding-left: 32px;}
        &:not(:first-child){padding-top: 24px;}
        &:not(:last-child){border-bottom: 1px solid var(--b1);padding-bottom: 24px;}
        .hd{font-weight: bold;font-size: 18px;position: relative;cursor: pointer;line-height:1.3;
            &::before, &::after{position: absolute;content:"";background: var(--f1);}
            &::before{top:9px;left:0;width: 16px;height: 4px;}
            &::after{top:3px;left:6px;width: 4px;height: 16px;@extend %trans;}
        }
        &.active{
            .hd{
                &::after{opacity: 0;}
            }
        }
    }
    .content{color: var(--g3);margin-top: 12px;display: none;}
}
.note{text-align: center;display: flex;justify-content: center;font-size: 22px;color: var(--f1);margin-bottom: 16px;line-height: 1.5;}

.form{width: 100%;@extend %fc;row-gap:24px;
    .hd{width: 100%;font-weight: bold;font-size: 24px;color: var(--c1);text-align: center;}
    .field{width: 100%;@extend %fc;row-gap:8px;
        label{font-weight: bold;}
        input, textarea, select{width: 100%;border-radius: 4px;border: 1px solid var(--b1);outline: none;padding: 8px 12px;background: #fff;}
        textarea{resize: vertical;height: 129px;min-height: 129px;}
    }
    .error{width: 100%;color:red;font-size: 12px;}
}

.scrollTop, .callRight{position: fixed;right:8px;z-index: 999;background: var(--c1);color:#fff;@extend %trans;cursor: pointer;border-radius:4px;width: 36px;height: 36px;@extend %center;@extend %trans;@extend %userSelect;border:1px solid #fff;
    &.fixed{transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);}
    &:hover{background: var(--c2);}
}
.scrollTop{bottom:82px;transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);font-weight: bold;}
.callRight{bottom: 122px;}


.fixNum{width: 100%;background: var(--c2);color:#fff;position: sticky;left: 0;bottom: 0;z-index: 99999;padding: 12px 8px;font-size: 16px;font-weight: bold;text-decoration: none;line-height: 1.3;display: none;flex-direction: row;justify-content: center;text-align: center;cursor: pointer;
    &:hover, &:active, &:focus{background: var(--c1);}
    & > i{margin-right: 4px;}
}

.mb0{margin-bottom: 0 !important;}

.box1{background: var(--cb10);padding:32px;color:white;row-gap:10px;@extend %fc;
    p{margin-bottom: 0;}
    .head2{font-weight: bold;font-size: 36px;line-height: 1;}
    .texts{font-size: 18px;
        &.it{font-style: italic;}
    }
}

.poetry{row-gap: 16px !important;counter-reset: num;
    article{width: 100%;display: flex;background: var(--g3);border: 1px solid var(--b1);padding:16px;flex-direction:column;row-gap:8px;
        > span{color:var(--f2);}
        > b{color:var(--c2);display:flex;align-items: center;
            &::after{counter-increment: num;content: counter(num);background: var(--g1);color: var(--f2);height: 24px;margin-left: auto;text-align: center;line-height: 24px;padding-inline: 4px;border: 1px solid var(--b1);font-weight: normal;font-size: 14px;}
        }
    }
}

.reviews{width: 100%;@extend %fc;row-gap:32px;
    ul{width: 100%;display: flex;padding:0 0 16px;margin:0 0 16px;border-bottom:1px solid var(--b1);gap:4px;
        > li{list-style: none;
            &:first-child{width: 100%;@extend %fc;row-gap: 4px;}
        }
    }
    .reviewsArea{width: 100%;display: flex;column-gap: 16px;}
    .iconArea{position: relative;display:flex;
        &::before, &::after{width: 2px;content:"";position: absolute;top:0;left:0;right:0;margin-inline:auto;}
        &::before{background: var(--f1);height: 100%;}
        &::after{background: #fff;height: 100px;}
        .icon{width: 80px;height: 80px;background: var(--cb3);color:#fff;position: relative;@extend %center;font-size: 48px;z-index: 1;}
    }
    .outlineBox{border-color: var(--b1);
        b{display: flex;align-items: center;color:var(--cb1);font-size:30px;line-height: 1.2;
            ~ i{font-style: normal;font-size: 18px;font-weight: bold;}
        }
        .icon{margin-left: auto;color: orange;font-size: 18px;white-space: nowrap;}
    }
}


// main:has(> .thankYou) > :not(.thankYou) {
//   display: none;
// }

@import "./res";