.childhood{background: var(--c1);position: relative;
    &::before{width:50%;height:100%;position:absolute;top:0;right:0;content:"";background:var(--g1);}
    .childhoodText{display: flex;}
    .container{position: relative;}
    .readMore{display: flex;
        > a{cursor: pointer;color:var(--c2);font-weight: bold;
            &:hover, &:active, &:focus{color:var(--c1);}
        }
    }
    .fw{
        &.left{display: flex;flex-direction: column;padding-right: 24px;text-align: right;color:white;}
        &.right{display: flex;flex-direction: column;padding-left: 24px;padding-bottom: 56px;}
    }
    .hd1{font-size: 44px;font-style: italic;}
    .hd2{font-weight: bold;font-size: 60px;}
    .hd1, .hd2{color:#fff;line-height: 1.2;}
    .hd3{font-weight: bold;color: var(--f1);font-size: 20px;}
    p{margin-bottom: 10px;color: var(--f2);
        &.text{
            & ~ *:not(:last-child){display: none;}
            &.active{
                & ~ *:not(:last-child){display: block;}
            }
        }
        &.readMore{margin-bottom: 0;}
    }
    &{
        @media (max-width:991px){
            &{padding-bottom: 0 !important;
                &::before{display: none;}
                .fw{
                    &.left{padding-right: 0;text-align: left;}
                    &.right{padding-left: 0;}
                }
            }
            [class*="col-"]{
                &:last-child{position: relative;margin-bottom:0 !important;
                    &::before{position: absolute;top:0;left:-200%;width:1000%;background: var(--g1);content:"";height:100%;}
                }
            }
        }
        @media (min-width:768px) and (max-width:991px){
            &{
                .hd1{font-size: 45px;}
                .hd2{font-size: 55px;}
                .fw{
                    &.right{padding-top: 50px;padding-bottom: 50px;}
                }
            }
            [class*="col-"]{
                &:last-child{margin-top: 30px;}
            }
        }
        @media (min-width:576px) and (max-width:767px){
            &{
                .hd1{font-size: 40px;}
                .hd2{font-size: 50px;}
                .fw{
                    &.right{padding-top: 50px;padding-bottom: 50px;}
                }
            }
            [class*="col-"]{
                &:last-child{margin-top: 20px;}
            }
        }
        @media (max-width:575px){
            &{
                .hd1{font-size: 28px;}
                .hd2{font-size: 36px;}
                .fw{
                    &.left{padding-bottom: 20px;}
                    &.right{padding-top: 32px;padding-bottom: 32px;}
                }
            }
            [class*="col-"]{
                &:last-child{margin-top: 10px;}
            }
        }
    }
}
.childhoodImg{display: flex;background: var(--cb9);position: relative;
    .container{flex-direction: row;flex-wrap: wrap;}
    img{width:25%;}
    &{
        @media (min-width:576px) and (max-width:991px){
            &{padding-block: 12px;}
        }
        @media (max-width:575px){
            &{padding-block: 8px;
                img{width:50%;}
            }
        }
    }
}