header{display:flex;flex-direction:column;position: sticky;top: 0;z-index: 9;background:#fff;
    &:has(.navBar.active){position: relative;z-index: auto;}
    &.fixed{
        .headerTop{display: none;}
        .headerMiddle .follow span > a.contact{display: flex;}
    }
    .headerTop{background:var(--f3);padding-block:6px;@extend %transl;
        .fw{display: flex;justify-content: space-between;}
        a{display: flex;align-items: center;color: white;
            > *:not(:last-child){margin-right: 3px;}
        }
    }
    .headerMiddle{
        .fw{display: flex;justify-content: flex-end;column-gap: 8px;}
        .logo{position: absolute;top:0;left:0;background: var(--c2);display: flex;padding:35px 55px;z-index: 99;
            > img{width:150px;height: 140px;}
        }
        .follow{display: flex;background: var(--c1);padding:16px;align-items:center;
            b{color:white;font-size: 24px;margin-right: 16px;}
            p{margin-bottom: 0;display: flex;gap:8px;flex-direction: column;}
            span{display: flex;gap:8px;
                > a{background:white;color:#000;display:flex;padding: 7px;border-radius: 4px;
                    .icon{line-height: 1;width:20px;height:20px;@extend %center;
                        &.fwt{font-weight: bold;}
                    }
                    &.contact{display: none;}
                }
            }
        }
    }
    .headerBottom{background:var(--f3);
        .fw{padding-left: 290px;display: flex;justify-content: flex-end;}
        .close{position: fixed;top: -32px;right: 0;background: red;color: #fff;width: 32px;height: 32px;cursor: pointer;z-index: 9999;@extend %trans;@extend %center;}
        .menu{margin-bottom: 0;justify-content: space-between;align-items:center;color:white;display: none;width:100%;padding:2px 0;
            b{font-size: 24px;line-height: 1;}
            span{font-size:28px;cursor: pointer;line-height: 1.55;}
        }
        .navBar{display: flex;padding:0;margin:0;@extend %trans;
            > li{border-right: 1px solid white;
                &:first-child{display: none;}
                &:nth-child(2){border-left: 1px solid white;}
            }
            li{list-style: none;display: flex;
                a{display: flex;color:white;padding: 12px 16px;font-size: 16px;text-transform: capitalize;align-items:center;@extend %trans;line-height:1.2;
                    .icon{margin-right: 5px;font-size: 18px;line-height: 1;display: flex;}
                    &.active, &:hover, &:active, &:focus{background: var(--c2);}
                }
                &.tabs{flex-direction: column;justify-content: center;position: relative;
                    > a{cursor: pointer;line-height: 1;font-size: 24px;height: 100%;}
                    > ul{margin:0;padding:0;position: absolute;top:100%;right:-1px;background: var(--c2);border-top:1px solid white;width:200px;transform:scaleY(0);-webkit-transform:scaleY(0);-moz-transform:scaleY(0);transform-origin:top;-webkit-transform-origin:top;-moz-transform-origin:top;@extend %trans;z-index: 99;
                        > li{border-bottom:1px solid white;flex-direction: column;
                            // > a{padding-top: 7px;padding-bottom: 7px;}
                        }
                    }
                    &:hover{
                        > ul{transform:scaleY(1);-webkit-transform:scaleY(1);-moz-transform:scaleY(1);}
                    }
                    &:hover{
                        > a{background: var(--c1);}
                    }
                }
            }
        }
    }

    &{
        @media (min-width:1200px) and (max-width:1399px){}
        @media (min-width:992px) and (max-width:1199px){}
        @media (max-width:991px){
            &{
                .headerBottom{
                    .menu{display: flex;}
                    .navBar{position: fixed;top: 0;left: 0;background: white;height: 100%;flex-direction: column;z-index: 999999;overflow: auto;left:-100%;row-gap:20px;
                        &.active{left:0;}
                        > li{
                            &:first-child{display: flex;position: -webkit-sticky;position: sticky;top: 0;left:0;width:100%;background: var(--c1);border-bottom: none;z-index: 999;padding-block: 16px;}
                        }
                        li{border-bottom:1px solid var(--b1);border-right:none;padding-bottom:18px;
                            &:nth-child(2){border-left: none;}
                            a{color: #000;padding:0 16px;
                                &.active, &:hover, &:active, &:focus{background: transparent;color:var(--c2);}
                                .icon{
                                    > img{filter: brightness(0) invert(0);}
                                }
                            }
                            &.tabs{border-bottom:none;
                                > a{display: none;}
                                > ul{position: static;transform: scaleY(1);-webkit-transform: scaleY(1);-moz-transform: scaleY(1);background: transparent;width:100%;display:flex;flex-direction:column;row-gap:24px;
                                    > li{border-bottom:1px solid var(--b1);}
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (min-width:768px) and (max-width:991px){
            &{
                .headerBottom{
                    .navBar{width:450px;}
                }
            }
        }
        @media (min-width:576px) and (max-width:767px){
            &{
                .headerMiddle{
                    .logo {padding:25px 40px;}
                    .follow{
                        b {font-size: 20px;}
                    }
                }
                .headerBottom{
                    .navBar{width:360px;}
                    .fw {padding-left: 245px;}
                }
            }
        }
        @media (max-width:575px){
            &{
                .headerTop{
                    a{
                        b{display: none;}
                    }
                }
                .headerMiddle{
                    .logo {padding:16px 12px;
                        img{width:142px;height: 112px;}
                    }
                    .follow{padding: 10px;
                        b {display: none;}
                        span{gap: 2px;
                            > a{padding:3px;
                                .icon{font-size: 14px;}
                            }
                        }
                        p{gap: 2px;}
                    }
                }
                .headerBottom{
                    .fw{padding-left: 174px;}
                    .menu{padding:0;
                        b{font-size: 18px;}
                    }
                    .navBar{width:260px;
                        > li{
                            .logo{width:200px;}
                        }
                    }
                }
            }
        }
    }
}
@media (min-width:992px){
    body.back:has(header .headerBottom .navBar.active){overflow-y: auto;
        &::before{left: 100% !important;}
    }
}
@media (max-width:991px){
    header .headerBottom:has(.navBar.active) .close{top: 0;}
}