.lifeStyle{
    .outlineBox{background: #fff;}
    figure{@extend %fc;width: 100%;border:1px solid var(--f1);
        > *{width: 100%;}
        > img{cursor: pointer;}
        figcaption{display: flex;justify-content: space-between;background: var(--c2);padding:8px 12px;color:#fff;column-gap: 8px;font-size: 14px;text-transform: capitalize;border-top: 1px solid var(--f1);
            > span{white-space: nowrap;}
        }
    }
    .setHeight{
        .row{height: 100%;}
        figure{height: 100%;
            > img{height: 100%;}
        }
    }
    .df{display: flex;}

    .row{margin-inline: -8px;row-gap: 16px !important;
        [class*="col-"]{padding-inline: 8px;}
    }

    .partition {display: grid !important;grid-template-columns: repeat(3, 1fr);grid-column-gap: 16px;align-items: start;grid-auto-flow: dense;grid-auto-rows: 4px;row-gap:0 !important;
        article{width: 100%;grid-row-end: span var(--num, 100);margin-bottom: 16px;@extend %fc;}
    }
}

.yarl__navigation_next{left:0;right: auto !important;}
.yarl__navigation_prev{right: 0;left:auto !important;}
.yarl__navigation_next, .yarl__navigation_prev{
    > svg{transform: rotate(180deg);-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);}
}

@media (min-width:992px) and (max-width:1199px){
    .lifeStyle .partition {grid-template-columns: repeat(2, 1fr);}
}
// @media (min-width:576px) and (max-width:991px){}
@media (max-width:767px){
    .lifeStyle .partition {grid-column-gap: 8px;}
    .lifeStyle .partition article{margin-bottom: 8px;}
    .lifeStyle figure figcaption{padding: 6px 10px;}

    .lifeStyle .row{margin-inline: -4px;row-gap: 8px !important;
        [class*="col-"]{padding-inline: 4px;}
    }
}
@media (max-width:575px){
    .lifeStyle .partition {grid-template-columns: repeat(2, 1fr);}
}