@media (min-width:1400px){}




@media (max-width:1399px){}
@media (min-width:1200px) and (max-width:1399px){
    header .fw {grid-template-columns: 20% 60% 20%;}
}




@media (max-width:1199px){
    body.back .fixNum{display: none;}
}
@media (min-width:992px) and (max-width:1199px){
    
}




@media (max-width:991px){}
@media (min-width:768px) and (max-width:991px){}
@media (min-width:576px) and (max-width:991px){
    hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {font-size: 36px;}
    hgroup p{font-size: 20px;}
}




@media (min-width:768px){
    main{
        .blt, .blb, .bltb{
            &::before, &::after{height: 80px;}
        }
        > .blt{margin-top: 80px;}
        > .blb{margin-bottom: 80px;}
        > .bltb{margin-block: 80px;}
    }
}
@media (max-width:767px){
    main{
        .blt, .blb, .bltb{
            &::before, &::after{height: 56px;}
        }
        > .blt{margin-top: 56px;}
        > .blb{margin-bottom: 56px;}
        > .bltb{margin-block: 56px;}
    }
    hgroup{text-align: center;}
    hgroup .btns{margin-top: 0;}
    .btns{justify-content: center;}
    .btns{margin-bottom: 16px;
        a, button{padding:12px 60px 12px 15px;
            &::before{width:40px;}
            &::after{right:40px;}
        }
    }
    .unlist, .list {margin-bottom: 12px;
        > li{padding-left: 24px;
            &::before{width: 16px;height: 16px;}
        }
    }

    main > .banner .hd, main > .banner .txt{justify-content: center;}
    main > .banner .hd, main > .banner .txt{text-align: center;}
    main > .banner .txt {margin-bottom: 16px;}    

    .fixNum{font-size: 14px;display: flex;}

    .outlineBox {padding: 16px 12px;}
    .outlineBox > b {font-size: 18px;}

    main > .innerPage .order {row-gap: 16px;}
    .poetry {row-gap: 8px !important;}
}
@media (min-width:576px) and (max-width:767px){
    .list>li::before, .unlist>li::before{top:3px;}
    .box1{
        .head2 {font-size: 30px;}
    }
}




@media (max-width:575px){
    hgroup {margin-bottom: 24px;}
    hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {font-size: 32px;}
    hgroup p{font-size: 18px;}

    main > .banner .hd{font-size: 40px;}
    main > .banner .txt{font-size: 18px;}
    main > .banner.homeBanner .container {margin-bottom: 50px;}
    
    .list>li::before, .unlist>li::before{top:4px;}

    .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {font-size: 20px;}
    .content h1:not(:first-child), .content h2:not(:first-child), .content h3:not(:first-child), .content h4:not(:first-child), .content h5:not(:first-child), .content h6:not(:first-child) {margin-top: 8px;}

    .faqs{padding: 24px 16px;}
    .faqs .faqsArea:not(:first-child){padding-top: 16px;}
    .faqs .faqsArea:not(:last-child){padding-bottom: 16px;}

    .note{font-size: 18px;}

    main > .bd hgroup ul > li > a, main > .bd hgroup ol > li > a{font-size: 16px;}

    .box1{padding:15px 10px;
        .head2 {font-size: 24px;}
        .texts{font-size: 14px;}
    }

    .reviews {row-gap: 16px;
        .reviewsArea {column-gap: 8px;}
        .iconArea .icon{width: 56px;height: 56px;font-size: 32px;}
        .iconArea::after{height: 68px;}
        .outlineBox b {flex-direction: column;align-items: flex-start;font-size:24px;
            ~ i{font-size: 16px;}
        }
        .outlineBox .icon{font-size: 14px;}
        ul{flex-direction: column;}
    }
}
