.skills{
    .skill{display: flex;height: 100%;
        .back{width:27.5%;display: flex;padding-right:20px;
            span{width:100%;height:100%;display:flex;flex-direction:column;justify-content: center;text-align: center;row-gap:4px;background: var(--u);position:relative;padding:20px 12px;color:white;font-size:20px;font-weight:800;line-height:1.2;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                &::before{width:0;height:0;position:absolute;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);content:"";border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid var(--u);left:100%;}
                > em, > i{font-style: normal;white-space: nowrap;}
            }
        }
        .cnts{width:72.5%;background: white;display:flex;padding:20px;flex-direction:column;box-shadow:0 0 5px rgba(0,0,0,0.2);border-left:4px solid var(--u);border-right:4px solid var(--u);
            .head{border-bottom:1px solid var(--b1);margin-bottom:10px;padding-bottom:12px;font-size:20px;font-weight:bold;color:var(--f1);line-height: 1.2;
                > i{font-style: normal;}
                > span{color:var(--u);}
            }
            .text{color: var(--f2);line-height:1.7;display:block;
                > span{width:100%;}
                > *{display: inline-block;}
                > i{display: none;}
                > button{color:var(--f1);white-space: nowrap;font-weight: bold;cursor: pointer;text-decoration: none;border:none;outline:none;background: none;}
            }
        }
    }
    &{
        @media (min-width:1200px) and (max-width:1399px){
            .skill{
                .back{width:30%;
                    span{font-size:22px;}
                }
                .cnts{width:70%;}
            }
        }
        @media (min-width:992px) and (max-width:1199px){
            &{
                .skill{flex-direction: column;
                    .back{width:100%;align-items:flex-start;padding-right:0;
                        span{height: auto;border-bottom-left-radius:0;border-bottom-right-radius:0;
                            &::before{border-left: 10px solid transparent;border-right: 10px solid transparent;border-top-color: var(--u);border-bottom:none;top:auto;bottom:-14px;left:0;right:0;margin:auto;}
                        }
                    }
                    .cnts{width:100%;border-top-left-radius:0;border-top-right-radius:0;border-left:none;border-right:none;border-bottom:4px solid var(--u);height: 100%;}
                }
            } 
        }
        @media (min-width:576px) and (max-width:767px){
            &{
                .skill{
                    .back{width:30%;padding-right: 20px;}
                    .cnts{width:70%;}
                }
            }
        }
    }
}

@media (max-width:575px){
    .skills .skill{flex-direction: column;}
    .skills .skill .back, .skills .skill .cnts{width: 100%;}
    .skills .skill .back{padding-right: 0;padding-bottom: 16px;}
    .skills .skill .back span::before {top: 100%;transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0);border-inline:10px solid transparent;left: 0;right: 0;margin-inline: auto;border-top: 10px solid var(--u);}
    .skills .skill .back span{padding-block: 32px;}
}