.welcome{padding-block: 56px;background:var(--c2);color:#fff;
    .fw{position: relative;@extend %fc;row-gap:24px;
        &::before{width: 0;height: 0;position: absolute;left:0;@extend %cnt;top: -216px;border-inline: 300px solid transparent;border-bottom: 150px solid var(--c2);z-index: 9;}
    }
    .head{font-size: 100px;@extend %fc;line-height: 1.1;font-weight: 900;text-transform:uppercase;
        > b{font-weight: inherit;}
    }
    .text{font-size: 22px;}
}

@media (min-width:992px) and (max-width:1199px){
    .welcome .fw::before {top: -166px;border-bottom-width: 100px;}
    .welcome .head {font-size: 80px;}
}
@media (min-width:768px) and (max-width:991px){
    .welcome .fw::before {border-inline-width: 200px;border-bottom-width: 120px;top:-186px;}
    .welcome .head {font-size: 80px;}
    .welcome .text {font-size: 18px;}
}
@media (max-width:767px){
    .welcome{padding-block: 44px;}
    .welcome .fw::before {border-inline-width: 120px;border-bottom-width: 80px;top:-134px;}
    .welcome .fw {row-gap: 16px;}
    .welcome .head {white-space: nowrap;}
    .welcome .text {font-size: 16px;}
}
@media (min-width:576px) and (max-width:767px){
    .welcome .head {font-size: 64px;}
}
@media (max-width:575px){
    .welcome .head {font-size: 38px;}
}