@import "./common/fontFamily.scss";
@import "./common/fontIcons.scss";
@import "./common/variables.scss";
@import "./common/heading.scss";
@import "./common/buttons.scss";
@import "./common/grid.scss";

@import "./modules/header.scss";
@import "./modules/footer.scss";

@import "./modules/sidebar.scss";

@import "./modules/welcome.scss";
@import "./modules/about.scss";
@import "./modules/lifestyle.scss";
@import "./modules/childhood.scss";
@import "./modules/contact.scss";

@import "./ads/ads1.scss";
@import "./ads/ads2.scss";
@import "./ads/ads3.scss";
@import "./ads/ads4.scss";
@import "./modules/team.scss";
@import "./modules/education.scss";
@import "./modules/experience.scss";
@import "./modules/skills.scss";
@import "./modules/wcu.scss";
@import "./modules/reviews.scss";
@import "./modules/sliderHome.scss";
@import "./modules/topProjects.scss";
@import "./modules/brandingProjects.scss";
@import "./sites/sites.scss";


// html {scroll-behavior: smooth;}
body{
    font-family: var(--ff1), 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a, button{@extend %trans;text-decoration: none;}
b, strong{font-weight: bold;}
img{@extend %userSelect;}
img[data-src], img[data-img]{background: url(../images/icons/loader.gif) no-repeat center center;}

body{color:var(--f1);
    &::before{width: 100%;height: 100%;position: fixed;top:0;left:100%;background: rgba(0,0,0,0.9);z-index: 99999;content:"";@extend %trans;}
    &.back{overflow: hidden;
        &::before{left:0;}
    }
}

main {width:100%;overflow:clip;@extend %fc;min-height: 100vh;min-height: -webkit-fill-available;min-height: 100dvh;
    > *{width:100%;@extend %fc;}
    > hr{height: 1px;border: none;background: var(--b1);}
    > .banner{
        background: var(--c1);color:#fff;
        .cnt{width: 100%;@extend %fc;row-gap:16px;position: relative;z-index: 1;height: 100%;justify-content: center;}
        .hd{font-size: 72px;font-weight: 900;line-height: 1.1;}
        .txt{font-size: 24px;}
        .img{width: 100%;border:10px solid var(--c2);object-fit: cover;}
        .btns{margin-top: 8px;
            > a{border: 1px solid #fff;
                &:hover, &:active, &:focus{background: var(--cb3) !important;}
            }
        }
    }
    > .b1{background-color: var(--g1);}
    > .b2{background-color: var(--g2);}
    > .bgt{background-image: linear-gradient(to bottom, var(--g1), #fff 56px);}
    > .bgb{background-image: linear-gradient(to top, var(--g1), #fff 56px);}
    > .bgtb{background: linear-gradient(to bottom, var(--g1), #fff 56px) top no-repeat, linear-gradient(to top, var(--g1), #fff 56px) bottom no-repeat;background-size: 100% 56px;}
    .blt, .blb, .bltb{position: relative;
        &::before, &::after{width: 100%;background-color: var(--c2);position: absolute;left:0;}
    }
    > .blt::before{bottom: 100%;content:"";}
    > .blb::after{top: 100%;content:"";}
    > .bltb{
        &::before{bottom: 100%;content:"";}
        &::after{top: 100%;content:"";}
    }
    > .bd{background-color: var(--c1);
        hgroup{
            h1, h2, h3, h4, h5, h6, p{color:#fff;}
            ul, ol{margin-top: 8px;
                > li{display: flex;
                    > a{display: flex;align-items: center;gap:4px 12px;color:#fff;font-size:18px;text-align:left;line-height:1.2;
                        > img{width:32px;height: 32px;}
                    }
                }
            }
        }
    }
    > .colorsLine{display: flex;padding: 0;margin: 0;flex-direction:row;
        > li{list-style: none;height: 10px;
            &:nth-child(1){background: var(--cb1);width: 65%;}
            &:nth-child(2){background: var(--cb2);width: 20%;}
            &:nth-child(3){background: var(--cb7);width: 15%;}
        }
        &.reverse{flex-direction: row-reverse;
            > li{width: 100%;background: #000;}
        }
    }
}

.outlineBox {width: 100%;border: 1px solid var(--f1);padding: 32px;@extend %fc;row-gap:8px;
    &:not(.dk){background: var(--g4);color: var(--f2);}
    &.dk{background: var(--f1);border-color: transparent;color:#fff;
        > *{color:#fff;}
    }
    > b{font-size: 28px;font-weight: bold;line-height: 1.2;color: var(--f1);}
    > span{font-size: 16px;}
}

.unlist, .list{@extend %fc;margin-bottom:24px;row-gap:12px;
    > li{list-style: none;position: relative;padding-left:28px;
        &::before{width: 20px;height: 20px;border-radius: 100%;background: var(--c1);position: absolute;top:3px;left:0;color:#fff;font-size: 12px;@extend %center;font-weight: bold;}
        &:not(:last-child){margin-bottom: 12px;}
        b, strong{font-weight: bold;}
        > a{color:inherit;}
    }
}
.unlist > li::before{font-family: fontello;content:"\a021";}
.list{counter-reset:number;
    > li::before{counter-increment:number;content:counter(number);}
}

.content{@extend %fc;width: 100%;
    ul, ol{@extend %fc;}
    h1, h2, h3, h4, h5, h6 {font-size: 24px;font-weight: bold;line-height: 1.2;margin-bottom: 12px;color:var(--font);
        &:not(:first-child) {margin-top: 18px;}
    }
    p, ul, ol {margin-bottom: 12px;}
    i, em {font-style: italic;}
    u {text-decoration: underline;}
    b, strong {font-weight: bold;}
    a:not(.btns > a) {display: inline-block;color: var(--c1) !important;text-decoration: underline;
        &:hover, &:active, &:focus {text-decoration: none;}
    }
    ul{@extend .unlist;}
    ol{@extend .list;}
}

.breadcrumbs{padding-block: 12px;background:var(--g1);
    ul{width: 100%;display: flex;flex-wrap: wrap;padding: 0;margin: 0;gap: 4px 11px;
        > li{list-style: none;line-height: 1.1;display:flex;color:var(--f2);
            > a{color: var(--f1);font-weight: bold;}
            &:not(:last-child){position: relative;padding-right: 16px;
                &::after{font-family: fontello;content:"\a030";position: absolute;right: 0;}
            }
        }
    }
}

.faqs{width: 100%;@extend %fc;border: 1px solid var(--b1);padding:32px;max-width:1000px;margin-inline: auto;background:#fff;
    .faqsArea{width: 100%;@extend %fc;
        > *{padding-left: 32px;}
        &:not(:first-child){padding-top: 24px;}
        &:not(:last-child){border-bottom: 1px solid var(--b1);padding-bottom: 24px;}
        .hd{font-weight: bold;font-size: 18px;position: relative;cursor: pointer;line-height:1.3;
            &::before, &::after{position: absolute;content:"";background: var(--f1);}
            &::before{top:9px;left:0;width: 16px;height: 4px;}
            &::after{top:3px;left:6px;width: 4px;height: 16px;@extend %trans;}
        }
        &.active{
            .hd{
                &::after{opacity: 0;}
            }
        }
    }
    .content{color: var(--g3);margin-top: 12px;display: none;}
}
.note{text-align: center;display: flex;justify-content: center;font-size: 22px;color: var(--f1);margin-bottom: 16px;line-height: 1.5;}

.form{width: 100%;@extend %fc;row-gap:24px;
    .hd{width: 100%;font-weight: bold;font-size: 24px;color: var(--c1);text-align: center;}
    .field{width: 100%;@extend %fc;row-gap:8px;
        label{font-weight: bold;}
        input, textarea, select{width: 100%;border: 1px solid var(--b1);outline: none;padding: 8px 12px;background: #fff;}
        textarea{resize: vertical;height: 129px;min-height: 129px;}
    }
    .error{width: 100%;color:red;font-size: 12px;}
}
.contactPage{
    .form{background: var(--g1);padding: 32px;border-radius: 4px;border:1px solid var(--b1);
        .btns{width: 100%;
            > *{width: 100%;justify-content:center;}
        }
    }
    .contactBox{width: 100%;@extend %fc;gap:32px 32px;
        > li{width: 100%;display: flex;list-style:none;
            .icon{width: 77px;height: 77px;background: var(--c1);color: #fff;@extend %center;flex-shrink: 0;border-radius: 4px;font-size: 24px;align-self: flex-start;}
            > a{width: 100%;display: flex;align-items: center;background: var(--g1);border-radius: 4px;padding: 32px;border:1px solid var(--b1);column-gap: 24px;cursor: pointer;}
            b{color: var(--f1);font-size: 20px;}
            span{width:100%;@extend %fc;color:var(--f2);font-size: 16px;}
        }
    }
}

.scrollTop, .callRight{position: fixed;right:8px;z-index: 999;background: var(--c2);color:#fff;@extend %trans;cursor: pointer;border-radius:4px;width: 36px;height: 36px;@extend %center;@extend %trans;@extend %userSelect;border:1px solid #fff;
    &.fixed{transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);}
    &:hover{background: var(--c1);}
}
.scrollTop{bottom:101px;transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);font-weight: bold;}
.callRight{bottom: 140px;}


.fixNum{width: 100%;background: var(--cb10);color:#fff;position: sticky;left: 0;bottom: 0;z-index: 99999;padding: 12px 8px;font-size: 16px;font-weight: bold;text-decoration: none;line-height: 1.3;display: none;flex-direction: row;justify-content: center;text-align: center;cursor: pointer;
    &:hover, &:active, &:focus{background: var(--cb10);}
    & > i{margin-right: 4px;}
}

.mb0{margin-bottom: 0 !important;}

.searchBar{width: 100%;display: flex;margin-bottom: 16px;position:sticky;top:92px;
    input{width: 100%;border: 1px solid var(--b1);outline: none;padding: 12px 12px 12px 40px;background: #fff;}
    .icon{position: absolute;top:0;bottom:0;margin-block: auto;left:16px;display: flex;align-items: center;}
}
.poetry{counter-reset: num;display:grid;grid-template-columns: repeat(1, minmax(0, 1fr));grid-gap: 16px;
    article{width: 100%;display: flex;border: 1px solid var(--b1);padding:16px;flex-direction:column;row-gap:8px;
        figcaption{width: 100%;@extend %fc;row-gap:8px;height: 100%;justify-content: space-between;
            > ul{width: 100%;@extend %fc;color:var(--f2);padding-left:14px;row-gap: 4px;
                > li{text-transform: capitalize;
                    &::marker{color: var(--f1);}
                    &:has(> span){list-style: none;font-weight: bold;color: var(--f1);}
                    > span{display: flex;padding-block: 8px;}
                }
            }
            > b{color:var(--f1);display:flex;align-items: center;font-style: italic;
                &::after{counter-increment: num;content: counter(num);background: var(--g1);color: var(--f4);border:1px solid var(--b1);height: 24px;margin-left: auto;text-align: center;line-height: 24px;padding-inline: 4px;font-weight: normal;font-family:Regular;font-size: 14px;font-style: normal;}
            }
        }
    }
}

.typeWriter{width: 100%;display:flex;
    .cursor {animation: blink 1s infinite;}
    @keyframes blink {
        0%, 50%, 100% {opacity: 1;}
        25%, 75% {opacity: 0;}
    }
}

.port{width: 100%;@extend %fc;row-gap:80px;counter-reset: count;
    .hd{position: relative;font-size: 36px;font-weight: 900;line-height: 1.2;padding-left:72px;display:flex;
        > span::after{content: attr(data-hd);}
        &::before, &::after{position: absolute;}
        &::before{content:"";width: 0;height: 0;border-block: 21px solid transparent;border-left: 56px solid var(--cb1);top: 0;left:-1px;}
        &::after{font-family: fontello;content:"\a016";color:#fff;font-size: 16px;top: 13px;left: 10px;line-height: 1;display: flex;align-items: center;}
    }
    .portArea{width: 100%;@extend %fc;row-gap: 16px;border-left:1px solid var(--b1);position: relative;padding-top: 8px;
        &::before{width: 6px;height: 4px;position: absolute;top:0;left:-3px;content:"";background: var(--cb1);}
    }
    article{display: flex;column-gap: 32px;border-bottom:1px solid var(--b1);padding-bottom: 16px;padding-left: 32px;row-gap:16px;position: relative;
        &:first-of-type{border-top:1px solid var(--b1);padding-top: 16px;}
    }
    figcaption{width: 100%;@extend %fc;row-gap:8px;
        > span{color:var(--f2);position: relative;
            &::before{width: 24px;height: 24px;position: absolute;left:-44px;background: var(--c2);border-radius: 100%;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);@extend %center;border-radius: 100%;counter-increment: count;content: counter(count);color: #fff;font-size: 14px;}
        }
        > a.site{align-self: flex-start;color:var(--f1);font-weight: bold;font-size: 18px;word-break: break-word;line-height: 1;
            &::after{content:attr(data-site);}
        }
        .links{display: flex;
            > *{color:var(--cb1);cursor: pointer;color:var(--cb1);}
            > a{align-self: flex-start;
                &::after{content:"|";margin-inline:8px;color:var(--f2);}
            }
        }
        > p:not(.notes){color: var(--f4);}
        .notes{color: var(--c2);}

    }
    figure{width: 150px;border:1px solid var(--b1);background: #fff;display: flex;flex-shrink: 0;max-width: 100%;align-self: flex-start;cursor: pointer;max-height:400px;
        > img{width: 100%;object-fit: contain;}
    }
    // .text::before{content:'Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi maiores quis iste architecto asperiores enim tenetur, sit, quos voluptate id repudiandae ab veritatis hic perferendis porro! Voluptatum recusandae delectus vero iusto nisi laboriosam iste praesentium officia commodi ratione doloremque pariatur impedit minus, quaerat a ut perspiciatis, saepe est eaque id cumque modi maxime fugiat dolores. Assumenda illo architecto, natus unde ullam provident, repellat exercitationem voluptas officia fuga reiciendis dignissimos at mollitia aliquam perspiciatis temporibus eum consequuntur iste.';}
}

// main:has(> .thankYou) > :not(.thankYou) {
//   display: none;
// }

body:has(.yarl__portal_open) .fixNum{display: none;}

@import "./res";