.contactUs{width: 100%;@extend %fc;row-gap: 32px;
    .form{background: var(--g1);padding: 32px;border:1px solid var(--b1);
        .btns{width: 100%;
            > *{width: 100%;justify-content:center;}
        }
    }
    .contactBox{width: 100%;display: grid;grid-template-columns: repeat(2, minmax(0, 1fr));gap: 16px;
        > li{width: 100%;display: flex;list-style:none;align-items: center;background: var(--g1);padding: 32px;border:1px solid var(--b1);
            .icon{width: 77px;height: 77px;background: var(--c2);color: #fff;@extend %center;flex-shrink: 0;font-size: 24px;}
            > a{width: 100%;display: flex;align-items: center;column-gap: 12px;cursor: pointer;}
            b{color: var(--f1);font-size: 20px;@extend %fc;}
            span{width:100%;@extend %fc;color:var(--f2);font-size: 16px;row-gap: 4px;line-height: 1.5;}
            em{font-style: normal;}
        }
    }
    .contactArea{width: 100%;@extend %fc;
        .hd{width: 100%;display: flex;font-weight: bold;background: var(--c1);color: #fff;padding: 10px 16px;font-size: 20px;}
        .ca{width: 100%;@extend %fc;border-inline: 1px solid var(--b1);border-bottom: 1px solid var(--b1);padding: 16px;}
    }
    .follow{width: 100%;display: grid;grid-template-columns: repeat(3, minmax(0, 1fr));padding: 0;margin: 0;gap:16px;
        > li{list-style: none;@extend %fc;
            > a{width: 100%;@extend %fc;text-align: center;background: var(--c2);color:#fff;padding: 16px 8px;}
            .icon{font-size: 28px;}
        }
    }
    .time{width: 100%;@extend %fc;padding:0;margin:0;row-gap:8px;color:var(--f2);
        > li{display: flex;list-style: none;align-items: center;justify-content: space-between;background: url(../../images/icons/dot.png) repeat-x center;white-space: nowrap;
            > b, > span{background: #fff;}
            > b{padding-right: 4px;display: flex;column-gap: 4px;}
            > span{padding-left: 4px;}
        }
    }
    iframe{border:none;width: 100%;height: 600px;display:flex;}
}

@media (min-width:992px) and (max-width:1399px){
    .contactUs .contactBox {grid-template-columns: repeat(1, minmax(0, 1fr));}
}
@media (min-width:992px) and (max-width:1199px){
    .contactUs iframe {height: 450px;}
    .contactUs .follow {grid-template-columns: repeat(2, minmax(0, 1fr));}
}
@media (max-width:991px){
    .contactUs iframe {height: 400px;}
}
@media (min-width:768px) and (max-width:991px){
    .contactUs .contactBox{grid-template-columns: repeat(2, minmax(0, 1fr));}
}
@media (max-width:767px){
    .contactUs {row-gap: 16px;}
    .contactUs .contactBox {grid-template-columns: repeat(1, minmax(0, 1fr));gap:16px;}
}
@media (min-width:576px) and (max-width:767px){}
@media (max-width:575px){
    .contactUs .form{padding:16px 12px;row-gap: 16px;}
    .contactUs .form .field {row-gap: 4px;}
    .contactUs .contactBox > li{padding: 12px;}
    .contactUs .follow {grid-template-columns: repeat(2, minmax(0, 1fr));gap: 8px;}
    .contactUs .contactBox > li span{row-gap: 0;}
}
@media (max-width:460px){
    .contactUs .contactBox > li .icon{width: 60px;height: 60px;}
    .contactUs .contactBox > li b{font-size: 18px;}
    .contactUs .contactBox > li span{font-size: 14px;}
}