@import "./common/mixin.scss";
.childhood{background: var(--head);
    &::before{width:50%;height:100%;position:absolute;top:0;right:0;content:"";background:var(--bk3);}
    .container{position: relative;}
    .readMore{display: flex;
        > a{cursor: pointer;color:var(--b1);font-weight: 700;
            &:hover, &:active, &:focus{color:var(--b1);}
        }
    }
    .fw{
        &.left{display: flex;flex-direction: column;padding-right: 35px;text-align: right;color:white;}
        &.right{display: flex;flex-direction: column;padding-left: 35px;}
    }
    .head1{font-size: 44px;font-style: italic;line-height: 1.1;}
    .head2{font-weight: 700;font-size: 60px;line-height: 1.1;}
    .head3{font-weight: 800;color: var(--g1);font-size: 20px;}
    p{margin-bottom: 10px;
        &.text{
            & ~ *:not(:last-child){display: none;}
            &.active{
                & ~ *:not(:last-child){display: block;}
            }
        }
        &.readMore{margin-bottom: 0;}
    }
    &{
        @media (min-width:1200px) and (max-width:1399px){
            &{
                .head2{font-size: 55px;}
            }
        }
        @media (min-width:992px) and (max-width:1199px){
            &{
                .head1{font-size: 40px;}
                .head2{font-size: 45px;}
            }
        }
        @media (max-width:991px){
            &{padding-bottom: 0 !important;
                &::before{display: none;}
                .fw{
                    &.left{padding-right: 0;text-align: left;}
                    &.right{padding-left: 0;}
                }
            }
            [class*="col-"]{
                &:last-child{position: relative;margin-bottom:0 !important;
                    &::before{position: absolute;top:0;left:-200%;width:1000%;background: var(--bk3);content:"";height:100%;}
                }
            }
        }
        @media (min-width:768px) and (max-width:991px){
            &{
                .head1{font-size: 45px;}
                .head2{font-size: 55px;}
                .fw{
                    &.right{padding-top: 50px;padding-bottom: 50px;}
                }
            }
            [class*="col-"]{
                &:last-child{margin-top: 30px;}
            }
        }
        @media (min-width:576px) and (max-width:767px){
            &{
                .head1{font-size: 40px;}
                .head2{font-size: 50px;}
                .fw{
                    &.right{padding-top: 50px;padding-bottom: 50px;}
                }
            }
            [class*="col-"]{
                &:last-child{margin-top: 20px;}
            }
        }
        @media (max-width:575px){
            &{
                .head1{font-size: 28px;}
                .head2{font-size: 34px;}
                .fw{
                    &.left{padding-bottom: 20px;}
                    &.right{padding-top: 30px;padding-bottom: 30px;}
                }
            }
            [class*="col-"]{
                &:last-child{margin-top: 10px;}
            }
        }
    }
}
.childhoodImg{background: var(--b10);flex-wrap:wrap;flex-direction:row;
    > img{width:25%;}
    &{
        @media (max-width:575px){
            &{
                > img{width:50%;}
            }
        }
    }
}