@import "./common/mixin.scss";
.mainProjects{
    .container{
        .row{justify-content: center;}
    }
    .mainProjectsArea{display: flex;flex-direction: column;font-size:14px;
        .image{display: flex;flex-direction: column;height:350px;overflow: hidden;border:1px solid var(--bk2);border-bottom: none;position:relative;background-color:var(--g1);background-size:100%;background-position:top center;background-repeat:no-repeat;
            &.active{animation:image 5s linear infinite;-webkit-animation:image 5s linear infinite;-moz-animation:image 5s linear infinite;
                .date{left:-150px;}
                .detail{right:-150px;}
                .category{bottom:-150px;}
                .text{height: 0;opacity: 0;visibility: hidden;padding-top:0;padding-bottom: 0;}
                ~ .more{
                    .icon{
                        &.view{display: none;}
                        &.stop{display: flex;}
                    }
                }
            }
            @keyframes image {
                0%		{background-position: top center;}
                50%		{background-position: bottom center;}
                100%	{background-position: top center;}
            }
            @-webkit-keyframes image {
                0%		{background-position: top center;}
                50%		{background-position: bottom center;}
                100%	{background-position: top center;}
            }
            @-moz-keyframes image {
                0%		{background-position: top center;}
                50%		{background-position: bottom center;}
                100%	{background-position: top center;}
            }
            .date, .detail, .category, .details, .text{position: absolute;}
            .date{top:30px;left:0;background: var(--b1);}
            .detail{top:30px;right:0;background: var(--b3);cursor: pointer;}
            .date, .detail{padding-top: 7px;padding-bottom: 7px;}
            .date, .detail, .category{padding-left:10px;padding-right:10px;color:white;line-height: 1;@extend .trans;}
            .category{bottom:0;left:0;right:0;margin:auto;background: var(--head);width:min-content;padding-top: 6px;padding-bottom: 6px;white-space: nowrap;}
            .text{top:50%;left:0;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);background: var(--b7);color:white;padding:7px 15px;text-align: center;animation:color 0.5s linear infinite;-webkit-animation:color 0.5s linear infinite;-moz-animation:color 0.5s linear infinite;@extend  .transl;width:100%;}
            @keyframes color{
                from{background: var(--b7);}
                to  {background: var(--b9);}
            }
            .details{top:100%;left:0;background: var(--g1);width:100%;height:100%;display: flex;flex-direction:column;@extend .trans;
                .icon{position:absolute;top:0;right:0;cursor: pointer;width: 30px;height: 50px;background: var(--b1);justify-content: center;display: flex;align-items: center;color: white;}
                .head{padding:0 15px;font-weight: 900;font-size:20px;display: flex;flex-shrink: 0;border-bottom:1px solid var(--bk2);color:var(--bk2);line-height: 1;height:51px;align-items: center;background: var(--b10);}
                .about{width:100%;display:flex;text-align:justify;overflow-y: auto;height: 100%;padding:10px 15px;flex-direction:column;
                    i{height:10px;}
                }
            }
        }
        .more{background:var(--b10);display:flex;justify-content:space-between;color:white;align-items:center;overflow: hidden;
            height: 50px;
            .icon{width: 50px;height: 100%;display: flex;align-items: center;justify-content: center;background: var(--b2);color: white;cursor: pointer;flex-shrink: 0;@extend .trans;
                &.stop{display: none;}
            }
            .name{font-weight: 700;width: 100%;text-align: center;padding: 0 10px;word-break: break-all;line-height: 1;color:var(--bk2);}
        }
        &.active{
            .image{
                .details{top:0;}
                .date{left:-150px;}
                .detail{right:-150px;}
                .category{bottom:-150px;}
                .text{height: 0;opacity: 0;visibility: hidden;padding-top:0;padding-bottom: 0;}
            }
        }
    }
    .btns{margin-bottom: 0;
        > a{margin-bottom: 0;}
    }
    &{
        @media (min-width:480px) and (max-width:575px){
            &{
                .container{
                    .row{
                        [class*="col-"]:not(:first-child){}
                    }
                }
            }
        }
    }
}
