@import "./common/mixin.scss";
.carousel-root{
    .carousel{
        .carousel-status{display: none;}
        .control-dots{margin: 0 auto;text-align: right;width: auto;display: flex;top: 15px;left: 0;right: 0;padding:0 15px;display: flex;justify-content: flex-end;height: 40px;
            &::before{position: absolute;top:0;bottom:0;right:15px;height:14px;background: white;content:"";width:160px;margin: auto;z-index: -1;}
            > li{margin:0;width:40px;height:inherit;border-radius: 0;opacity: 1;box-shadow:0 0 4px black;border-radius: 4px;
                &:not(:last-child){margin-right: 20px;}
                &.selected{background: var(--b1);}
            }
        }
        .thumbs-wrapper{margin:0 auto;position: absolute;bottom:15px;left: 0;right: 0;
            .thumbs{margin: 0;padding: 0;display: flex;justify-content: flex-end;
                .thumb{padding:0;width: 120px !important;display:flex;border:8px solid white;border-radius: 4px;
                    &:last-child{margin-right: 0;}
                    img{object-fit: cover;height:70px;}
                    &.selected{border-color:var(--b1);}
                }
            }
        }
        .control-arrow{width: 70px;height: 70px;margin: auto;opacity: 1;
            &:hover{background: none;}
            &::before{border-top-width: 20px;border-bottom-width: 20px;}
            &.control-prev{
                &::before{border-right-width: 20px;}
            }
            &.control-next{
                &::before{border-left-width: 20px;}
            }
        }
    }
    .slide{text-align: left;overflow:hidden;
        .items{display: flex;flex-direction:column;
            > img{object-fit: cover;height:800px;}
        }
        .btns{margin-bottom: 0;}
        figure{width: 100%;display: flex;flex-direction: column;position: absolute;top: 45%;left: 0;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);margin:0;
            figcaption{width:100%;display:flex;flex-direction:column;
                .head{font-weight: 900;font-size:115px;line-height: 1;margin-bottom: 5px;text-transform: uppercase;}
                .sub_head{font-weight: 700;font-size:69px;line-height: 1.3;margin-bottom: 15px;text-transform: uppercase;}
                .text{font-weight: 600;font-size:34px;line-height: 1.3;margin-bottom: 30px;}
                .head, .sub_head, .text{color:white;text-shadow: 0 0 3px black;line-height: 1;}
                .btns{
                    > *:first-child{margin-left: 0;}
                }

                .head, .sub_head, .text, .btns{@extend .transl;}
                .head{transition-delay: 1s;-webkit-transition-delay: 1s;-moz-transition-delay: 1s;}
                .sub_head{transition-delay: 1.25s;-webkit-transition-delay: 1.25s;-moz-transition-delay: 1.25s;}
                .text{transition-delay: 1.5s;-webkit-transition-delay: 1.5s;-moz-transition-delay: 1.5s;}
                .btns{transition-delay: 1.75s;-webkit-transition-delay: 1.75s;-moz-transition-delay: 1.75s;}
                .head, .sub_head, .text, .btns{opacity: 0;}
                .head, .sub_head, .text{transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);}
                .btns{transform: translateY(0);-webkit-transform: translateY(0);-moz-transform: translateY(0);}
            }
        }
        &.selected{
            figure{
                figcaption{
                    .head, .sub_head, .text{transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);}
                    .head, .sub_head, .text, .btns{opacity: 1;}
                }
            }
        }        
    }
    &{
        @media (min-width:1200px) and (max-width:1399px){
            &{
                .slide{
                    .items > img{height: 700px;}
                }
            }
        }
        @media (max-width:1199px){
            &{
                .carousel{
                    .control-arrow{bottom:110px;top:auto;width:50px;height:50px;}
                }
            }
        }
        @media (min-width:992px) and (max-width:1199px){
            &{
                .slide{
                    .items > img{height: 600px;}
                    figure figcaption{
                        .head{font-size: 100px;}
                        .sub_head{font-size: 60px;}
                        .text{font-size: 29px;}
                    }
                }
                .carousel{
                    .thumbs-wrapper{
                        .thumbs{padding:0 0 0 400px;}
                    }
                }
            }
        }
        @media (min-width:768px) and (max-width:991px){
            &{
                .slide{
                    .items > img{height: 500px;}
                    figure figcaption{
                        .head{font-size: 80px;}
                        .sub_head{font-size: 48px;}
                        .text{font-size: 23px;}
                    }
                }                
            }
        }
        @media (min-width:576px) and (max-width:767px){
            &{
                .slide{
                    .items > img{height: 450px;}
                    figure figcaption{
                        .head{font-size: 65px;margin-bottom: 10px;}
                        .sub_head{font-size: 39px;}
                        .text{font-size: 19px;margin-bottom: 20px;}
                    }
                }
                .carousel{
                    .control-dots{height:35px;
                        &::before{width:135px;}
                        > li{width:35px;
                            &:not(:last-child){margin-right: 15px;}
                        }
                    }
                    .thumbs-wrapper{
                        .thumbs{
                            .thumb{width: 85px !important;border-width:5px;
                                img{height:50px;}
                            }
                        }
                    }
                }
            }
        }
        @media (max-width:575px){
            &{
                .slide{
                    .items > img{height: 350px;}
                    figure{top:50%;
                        figcaption{
                            .head{font-size: 58px;margin-bottom: 10px;}
                            .sub_head{font-size: 35px;}
                            .text{font-size: 17px;margin-bottom: 20px;}
                        }
                    }
                }
                .carousel{
                    .control-dots{height:25px;padding:0 12px;
                        &::before{width:92px;}
                        > li{width:25px;
                            &:not(:last-child){margin-right: 10px;}
                        }
                    }
                    .control-arrow{bottom:10px;
                        &::before{border-top-width: 10px;border-bottom-width: 10px;}
                        &.control-prev::before {border-right-width: 15px;}
                        &.control-next::before {border-left-width: 15px;}
                    }
                    .thumbs-wrapper{
                        .thumbs{padding:0 0 0 140px;justify-content: flex-start;
                            .thumb{width: 40px !important;border-width:3px;
                                img{height:25px;}
                            }
                        }
                    }
                }
            }
        }
    }
}