.reviews{width: 100%;@extend %fc;row-gap:32px;
    ul{width: 100%;display: flex;padding:0 0 16px;margin:0 0 16px;border-bottom:1px solid var(--b1);gap:4px;
        > li{list-style: none;
            &:first-child{width: 100%;@extend %fc;row-gap: 4px;}
        }
    }
    .reviewsArea{width: 100%;display: flex;column-gap: 16px;
        .outlineBox{
            span::after{content: attr(data-text);}
        }
    }
    .iconArea{position: relative;display:flex;
        &::before, &::after{width: 2px;content:"";position: absolute;top:0;left:0;right:0;margin-inline:auto;}
        &::before{background: var(--f1);height: 100%;}
        &::after{background: #fff;height: 100px;}
        .icon{width: 80px;height: 80px;background: var(--c5);color:#fff;position: relative;@extend %center;font-size: 48px;z-index: 1;}
    }
    .outlineBox{border-color: var(--b1);background: var(--g3);
        b{display: flex;align-items: center;color:var(--c3);font-size:30px;line-height: 1.2;
            &::before{content: attr(data-name);}
            ~ i{font-style: normal;font-size: 18px;font-weight: bold;
                &::before{content: attr(data-place);}
            }
        }
        .icon{margin-left: auto;color: orange;font-size: 18px;white-space: nowrap;}
    }
}

.reviewsSec{
    .outlineBox.dk{background: var(--c12);}
    .back{width: 100%;display: flex;background: var(--b1);padding: 12px;}
    .reviewArea{width: 100%;@extend %fc;gap:16px;background: var(--g3);padding: 32px;height: 100%;
        p{color:var(--f7);position: relative;padding-right: 56px;
            &::before{font-family: fontello;content:"\a042";position: absolute;top:-20px;right:0;font-size: 48px;line-height: 1;color: var(--c12);}
            &::after{content:attr(data-text);}
        }
    }
    figure{width: 100%;display: flex;gap:16px;
        > img{width: 100px;flex-shrink: 0;align-self: flex-start;}
        figcaption{width: 100%;@extend %fc;row-gap: 8px;}
        b{font-size: 36px;line-height: 1.1;color: var(--c3);font-weight: 800;
            &::before{content:attr(data-name);}
        }
        span{font-size: 22px;color:var(--f3);line-height: 1.1;font-weight: bold;
            &::before{content:attr(data-place);}
        }
        i{color:var(--c4);display: flex;line-height: 1;}
    }
    .swiper-button-prev{left: -10px !important;}
    .swiper-button-next{right: -10px !important;}
}

@media (max-width:575px){
    .reviewsSec .back{padding: 4px;}
    .reviewsSec .reviewArea{padding: 12px 8px;}
    .reviewsSec figure{gap:12px;}
    .reviewsSec figure > img{width: 70px;}
    .reviewsSec figure b {font-size: 24px;}
    .reviewsSec figure span {font-size: 16px;}
    .reviewsSec .reviewArea p::before {font-size: 32px;}
    .reviewsSec .reviewArea p {padding-right: 32px;}

    .reviews {row-gap: 16px;
        .reviewsArea {column-gap: 8px;}
        .iconArea .icon{width: 56px;height: 56px;font-size: 32px;}
        .iconArea::after{height: 68px;}
        .outlineBox b {flex-direction: column;align-items: flex-start;font-size:24px;
            ~ i{font-size: 16px;}
        }
        .outlineBox .icon{font-size: 14px;}
        ul{flex-direction: column;}
    }
    
}