.wcu{
    figure{width: 100%;@extend %fc;background: var(--c11);padding: 16px;row-gap:10px;height:100%;
        img{background: #fff;margin-inline: auto;}
        figcaption{width: 100%;@extend %fc;text-align: center;row-gap: 8px;padding-block: 16px 26px;border-bottom: 4px solid #fff;
            p{display: flex;justify-content: center;column-gap: 12px;align-items:center;
                a{display: flex;column-gap: 4px;color:#fff;font-size: 20px;}
            }
        }
    }
    .wcuArea{width: 100%;display:grid;grid-gap:32px;grid-template-columns: repeat(2, minmax(0, 1fr));padding-bottom:80px;
        aside{width: 100%;@extend %fc;position: relative;background: var(--g1);
            > b{display: flex;background: var(--c12);color:#fff;font-size: 20px;padding:16px;line-height: 1.2;}
            > p{padding: 16px;}
        }
    }
    .btns{padding-bottom: 80px;}
}
@media (min-width:992px) and (max-width:1199px){
    .wcu .wcuArea {grid-template-columns: repeat(1, minmax(0, 1fr));}
}
@media (max-width:991px){
    .wcu figure{padding-bottom: 0;row-gap: 0;}
    .wcu figure figcaption{border-bottom: none;border-top: 4px solid #fff;}
}
@media (min-width:768px) and (max-width:991px){
    .wcu figure img{width: 400px;}
    .wcu figure figcaption{padding-block: 32px;}
}
@media (max-width:767px){
    .wcu .wcuArea {padding-bottom: 56px;grid-gap:16px;grid-template-columns: repeat(1, minmax(0, 1fr));}
    
}
@media (min-width:576px) and (max-width:767px){
    .wcu figure img{width: 320px;}
    .wcu figure figcaption{padding-block: 32px;}
}
@media (max-width:575px){
    .wcu figure img{width: 300px;}
    .wcu figure figcaption{padding-block: 16px;}
    .wcu figure figcaption p a{font-size: 16px;}
    .wcu .wcuArea aside > b, .wcu .wcuArea aside > p{padding: 12px 16px;}
    .wcu .wcuArea aside > b {font-size: 16px;}    
}