.ads1{
    .row{justify-content: flex-start;}
    ul{width: 100%;display: flex;background:var(--c12);
        > li{width: 50%;list-style: none;@extend %fc;row-gap:20px;
            &:first-child{padding: 80px 32px;justify-content: center;text-align: center;}
        }
    }
    p{color:white;line-height: 1.1;}
    img{width: 100%;height: 100%;object-fit: cover;}
    .head{font-size: 48px;font-weight: 900;line-height: 1.1;}
    .subHead{font-weight:500;font-size: 28px;}
    .text{font-size: 20px;}
    .btns{margin-top: 8px;}
    a{
        &:hover, &:active, &:focus{background: var(--c4) !important;color:var(--f1);}
    }
}

@media (min-width:768px) and (max-width:991px){
    .ads1 .head {font-size: 44px;}
    .ads1 ul > li{row-gap: 12px;}
}
@media (min-width:576px) and (max-width:767px){
    .ads1 ul > li{row-gap: 12px;}
    .ads1 ul > li:first-child {padding: 64px 16px;}
    .ads1 .subHead {font-size: 20px;}
    .ads1 .head {font-size: 32px;}
    .ads1 .text {font-size: 16px;}
    .ads1 .btns {margin-top: 12px;}
}
@media (max-width:575px){
    .ads1 ul{flex-direction: column-reverse;}
    .ads1 ul > li{width: 100%;row-gap: 12px;}
    .ads1 ul > li:first-child {padding: 40px 12px;}
    .ads1 img{height: auto;}
    .ads1 .head {font-size: 36px;}
    .ads1 .subHead {font-size: 24px;}
    .ads1 .text {font-size: 18px;}
}