@font-face {
     font-family: 'fontello';
     src: url('../../fonts/fontello.eot?75718848');
     src: url('../../fonts/fontello.eot?75718848#iefix') format('embedded-opentype'),
          url('../../fonts/fontello.woff?75718848') format('woff'),
          url('../../fonts/fontello.woff2?75718848') format('woff2'),
          url('../../fonts/fontello.ttf?75718848') format('truetype'),
          url('../../fonts/fontello.svg?75718848#fontello') format('svg');
     font-weight: normal;
     font-style: normal;
}
.icon{font-family: "fontello";font-style: normal;font-weight: normal;speak: never;display: inline-block;text-decoration: inherit;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}