hgroup{width: 100%;@extend %fc;margin-bottom:32px;row-gap:12px;text-align:center;position: relative;padding-bottom:32px;
    &::before, &::after{content:"";position: absolute;left:0;right:0;margin-inline: auto;}
    &::before{width: 70px;height: 6px;bottom:8px;background: var(--f1);}
    &::after{width: 0;height: 0;bottom: 0;border-left: 10px solid rgba(0,0,0,0);border-right: 10px solid rgba(0,0,0,0);border-top: 10px solid var(--f1);}
    &.tc{text-align: center;}
    &.center{max-width: 800px;margin-inline: auto;text-align: center;
        .btns{justify-content: center;}
    }
    h1, h2, h3, h4, h5, h6{font-size: 76px;line-height: 1.1;color:var(--f1);font-weight: 900;
        > span{color:var(--c3);}
    }
    p{font-size:24px;line-height: 1.4;color:var(--f2);font-weight: Bold;}
    .btns{margin-top: 12px;}
    &.white{
        h1, h2, h3, h4, h5, h6, p{color:#fff;}
    }
    .unlist, .list{margin-bottom: 0;text-align: left;}
}