.btns{display: flex;flex-wrap:wrap;align-items: flex-start;gap:8px;margin-bottom:32px;width: 100%;
    a{@extend %transl;}
    &.center, &.tc{justify-content: center;}
    a, button{position:relative;display: flex;padding: 12px 75px 12px 20px;border-radius:4px;font-weight:bold;overflow: hidden;white-space:nowrap;box-shadow:0 0 3px rgba(0,0,0,0.7);color:white;cursor: pointer;border:none;outline:none;
        &::before{position:absolute;top:0;right:0;width:50px;height:100%;display: flex;justify-content: center;align-items: center;font-family:fontello;border-radius:0 4px 4px 0;line-height: 0;font-size:16px;@extend %trans;background: white;color:var(--c1);}

        &:not([data-icon])::before{content:"\a038";}
        &[data-icon]::before{content:attr(data-icon);}


        &::after{width:0;height:0;top:0;bottom:0;right:50px;position:absolute;content:"";border-top:8px solid transparent;border-bottom:8px solid transparent;border-right:8px solid white;margin:auto;@extend %trans;}
        &:hover, &:active, &:focus, &.active{background: var(--c2) !important;}


        &:nth-child(1){background: var(--cb1);}
        &:nth-child(2){background: var(--cb2);}
        &:nth-child(3){background: var(--cb3);}
        &:active, &:hover, &:focus{background: var(--c1) !important;}
    }
    &.bsn{
        a, button{box-shadow: none;}
    }
}