.welcome_note .welcome_detail::after{content: "In my wonderful world, I sincerely hope that each and every user entering my website will find simple ui design with advanced features. You will definitely have a great experience of using my web page. It will tell you lots of interesting things about my design, my products and services, highly professional team and happy customers.";}

.i_know_text::after{content: "Web design is my expertise. I offer a wide range of services of web design. No matter what size is your project of – it is done quickly and on the highest quality level. I complete the design/project regardless of its level of complexity. I am not afraid of difficult tasks – hundreds of my satisfied clients can prove that.";}

.why_choose_me_area_text::after{content: "I am dedicated to giving you the best service possible by keeping my solutions friendly, simple and effective. If you don’t trust my word for it, just ask the people who have successfully launched their websites designed by me. My core principle is absolute transparency in everything. Come any time to check what your project is doing – i will inform you about the progress.";}

.testimonials_title::after{content:"Among my clients there are many renowned industries. Their websites are modern looking and reliable – thanks to me.";}

.my_branding_projects_title::after{content:"In my portfolio there are many of successful projects and dozen of satisfied customers. Some of the websites I've been working on became profitable startups with thousands of daily visitors. Check out the my website to learn more about my skills and style. I offer a perfect solution for my clients to establish a stunningly looking website with lots of useful functions and without extra coding.";}

.achievements > li:nth-child(1)::after{content:"Attestation Services of India & Abroad";color: #323232;}
.achievements > li:nth-child(2)::after{content:"Embassy of many countries of world";}
.achievements > li:nth-child(3)::after{content:"High Commission of India";color: #323232;}
.achievements > li:nth-child(4)::after{content:"Approved by The Ministry of External Affairs Government of India";color: #323232;}
.achievements > li:nth-child(5)::after{content:"Embassy of Spain";}
.achievements > li:nth-child(6)::after{content:"Embassy of India";color: #323232;}
.achievements > li:nth-child(7)::after{content:"Embassy of Hungary";}
.achievements > li:nth-child(8)::after{content:"VAC(Visa Application Center) Presence";}
.achievements > li:nth-child(9)::after{content:"Consulate General of India";color: #323232;}
.achievements > li:nth-child(10)::after{content:"Consulate General of Spain";}
.achievements > li:nth-child(11)::after{content:"Spanish Consulate General of Spain";}
.achievements > li:nth-child(12)::after{content:"Consulate of Spain";}
.achievements > li:nth-child(13)::after{content:"High Commission of Malaysia";}
.achievements > li:nth-child(14)::after{content:"Embassy Of The State of Kuwait";}
.achievements > li:nth-child(15)::after{content:"Embassy of U.A.E";}
.achievements > li:nth-child(16)::after{content:"Attestation Services";}
.achievements > li:nth-child(17)::after{content:"Spanish Honorary Consulate";}
.achievements > li:nth-child(18)::after{content:"Embassy of France";}
.achievements > li:nth-child(19)::after{content:"Embassy of Brazil";}
.achievements > li:nth-child(20)::after{content:"Embassy of India, Poland";}
.achievements > li:nth-child(21)::after{content:"(Mobile City (Moscow)) Mobile Biometric";}
.achievements > li:nth-child(22)::after{content:"Embassy of Italy";}
.achievements > li:nth-child(23)::after{content:"VAC (Visa Application Center) Presence";}
