[data-site="india_blsattestation_com"]{
    .text::after{content:"This is a website for the attestation process. This company is a trusted partner of the Ministry of External Affairs, New Delhi, and manages the administrative functions of the attestation process. This website provides the latest information and guidelines on attestation and apostille procedures involved in applying for document attestation from the Ministry of External Affairs, New Delhi. This website is approved by the Ministry of External Affairs, Government of India.";}
    .notes::before{content:"This website is approved by the Ministry of External Affairs, New Delhi, the Embassy of Qatar in India, and the Embassy of the UAE in India.";}
}

[data-site="visasoftheworld_in"]{
    .text::after{content:"This is a website for visa services. This website provides detailed and updated information regarding visa services, including information, required forms, application procedures, current visa fees, etc.";}
}

[data-site="digitized_it_com"]{
    .text::after{content:"This is a website for digitization. It is designed to convert, preserve, transmit, and store data acquired from books, paper documents, periodicals, or images into digital form. This company is based in India and serves clients across the globe. It also provides in-house utility services to customers.";}
}

[data-site="blsindiavisa_uae_com"]{
    .text::after{content:"This is a website for visa and passport services. This company is an exclusive trusted partner of the Embassy of India, the Consulate General of India, and the UAE. This website provides the latest information and guidelines on the application procedures involved in applying for an Indian visa and passport from the UAE.";}
}

[data-site="blsindia_sg"]{
    .text::after{content:"This is a website for visa and passport services. This company helps various embassies and missions outsource visa and passport application services.";}
}

[data-site="blsindiavisa_austria_com"]{
    .text::after{content:"This is a website for visa services. This company offers comprehensive visa processing services and has been associated with many esteemed embassies and high commissions for visa processing, visa verification, commercial verification, and other services.";}
}

[data-site="blsindia_canada_com"]{
    .text::after{content:"This is a website for visa and passport services. This company is a specialist service provider for outsourcing visa, passport, consular, attestation, and apostille services to diplomatic missions across the world. This company is a trusted partner of diplomatic missions for administrative and non-judgmental tasks related to outsourcing visa, passport, and attestation applications in India as well as abroad.";}
}

[data-site="blsindia_china_com"]{
    .text::after{content:"This is a website for visa services. This company is a specialist service provider for outsourcing visa, passport, consular, attestation, and apostille services to diplomatic missions across the world. This company is a trusted partner of diplomatic missions for administrative and non-judgmental tasks related to outsourcing visa, passport, and attestation applications in India as well as abroad.";}
}

[data-site="blsindia_hongkong_com"]{
    .text::after{content:"This is a website for visa, passport, and consular services. This company is a specialist service provider for outsourcing visa, passport, consular, attestation, and apostille services to diplomatic missions across the world. This company is a trusted partner of diplomatic missions for administrative and non-judgmental tasks related to outsourcing visa, passport, and attestation applications in India as well as abroad.";}
}

[data-site="blsisrael_ken_com"]{
    .text::after{content:"This is a website for visa services. This company is a specialist service provider for outsourcing visa, passport, consular, attestation, and apostille services to diplomatic missions across the world. This company is a trusted partner of diplomatic missions for administrative and non-judgmental tasks related to outsourcing visa, passport, and attestation applications in India as well as abroad.";}
}

[data-site="blsindiavisa_lithuania_com"]{
    .text::after{content:"This is a website for visa services. This company is incorporated with visa processing services and has been associated as a trusted partner with many esteemed embassies and high commissions for visa processing, visa verification, commercial verification, and other services.";}
}

[data-site="blsindia_norway_com"]{
    .text::after{content:"This is a website for visa and passport services. This company is a specialist service provider for outsourcing visa, passport, consular, attestation, and apostille services to diplomatic missions across the world. This company is a trusted partner of diplomatic missions for administrative and non-judgmental tasks related to outsourcing visa, passport, and attestation applications in India as well as abroad.";}
}

[data-site="blsindia_oman_com"]{
    .text::after{content:"This is a website for visa, passport, and attestation services. This website provides the latest information and guidelines on the application procedures involved in applying for an Indian passport and visa.";}
}

[data-site="blsindiavisa_ph_com"]{
    .text::after{content:"This is a website for visa services. This website provides information about the procedures and requirements involved in applying for an Indian visa.";}
}

[data-site="blsindiavisa_poland_com"]{
    .text::after{content:"This is a website for visa, passport, consular, attestation, and apostille services. This website is available in Polish and English. This company is a specialist service provider for outsourcing visa, passport, consular, attestation, and apostille services to diplomatic missions across the world. This company is a trusted partner of diplomatic missions for administrative and non-judgmental tasks related to outsourcing visa, passport, and attestation applications in India as well as abroad.";}
}

[data-site="blsindia_russia_com"]{
    .text::after{content:"This is a website for visa and passport services. This company helps various embassies and missions outsource visa and passport application services.";}
}

[data-site="blshungary_azerbaijan_com"]{
    .text::after{content:"This is a website for visa, passport, consular, and attestation services. This website is available in Azeri and English. This company is a specialist service provider for outsourcing visa, passport, consular, attestation, and apostille services to diplomatic missions across the world. This company is a trusted partner of diplomatic missions for administrative and non-judgmental tasks related to outsourcing visa, passport, and attestation applications in India as well as abroad.";}
}

[data-site="getdubaivisa_com"]{
    .text::after{content:"This is a website for visa services. This company is a specialized service provider for Dubai visas.";}
}

[data-site="bls_malaysia_com"]{
    .text::after{content:"This is a website for visa services. This website is part of the High Commission of Malaysia in India's initiative to ease the visa application process.";}
}

[data-site="blsindia_malaysia_com"]{
    .text::after{content:"This is a website for visa and other consular service applications. This website offers visa and other consular services.";}
}