:root{
    --g1:#292929;
    --g2:#323232;
    --g3:#6a6a6a;
    --g4:#8c8c8c;    

    --bk1:#aaa;
    --bk2:#ddd;
    --bk3:#f9f9f9;
    --bk4:#eee;

    --head:#01b58b;

    --b1:#eb4235;
    --b2:#fcbc05;
    --b3:#3e85f4;
    --b4:#32a953;
    --b5:#cc36eb;
    --b6:#9036eb;
    --b7:#eb7e35;
    --b8:#877e35;
    --b9:#824235;
    --b10:#2f4446;
    //--b10: #34495c;
}