[data-site="ticketstoworld_co_uk"]{
    .text::after{content:"This is a travel company website. It offers thousands of discounted airfares in Economy, Business, Club, and First Class from all UK airports. It also provides access to over 35,000 hotels worldwide, offering up to 60% discounts on 3-star to 5-star hotels. The company specializes in group incentives, group bookings, and stag and hen weekends.";}
}

[data-site="ticketstoindia_co_uk"]{
    .text::after{content:"This is a travel company website. The company offers great deals and free team leader places on group and incentive bookings. It specializes in stag and hen weekends, as well as organizing school trips and destination weddings abroad.";}
}

[data-site="ticketstousa_co_uk"]{
    .text::after{content:"This is a travel company website based in the United Kingdom. It offers reliable flights and quality hotels at very affordable prices. The company specializes in stag and hen weekends, as well as organizing school trips and destination weddings abroad.";}
}

[data-site="ticketstopakistan_co_uk"]{
    .text::after{content:"This is a travel company website. It offers great deals and free team leader places on group and incentive bookings. It specializes in organizing weekends, school trips, and destination weddings abroad. The company prides itself on offering an extensive selection of reliable flights and quality hotels at very affordable prices.";}
}

[data-site="myamsterdam_co_uk"]{
    .text::after{content:"This is a travel website. It offers a wide selection of worldwide holidays, flights, cruises, and city breaks for all budgets.";}
}

[data-site="citybreak1_co_uk"]{
    .text::after{content:"This is a travel company website based in the United Kingdom. It offers a wide selection of worldwide holidays, flights, cruises, and city breaks for all budgets.";}
}