@font-face {
    font-family: 'fontello';
    src: url('../../fonts/fontello.eot?1');
    src: url('../../fonts/fontello.eot?1#iefix') format('embedded-opentype'),
         url('../../fonts/fontello.woff?1') format('woff'),
         url('../../fonts/fontello.ttf?1') format('truetype'),
         url('../../fonts/fontello.svg?1#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {
    font-family: "fontello";
    font-style: normal !important;
    font-weight: normal;
    speak: never;   
    font-variant: normal;
    text-transform: none;   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}