.family{color: var(--f2);
    .imgText{width: 100%;@extend %fc;padding-inline:32px;border:10px solid var(--b1);
        > figure{width:100%;display: flex;gap:32px;padding-block:32px;align-self: flex-start;
            &:not(:last-child){border-bottom: 10px solid var(--b1);}
            > figcaption{width: 300px;flex-shrink: 0;@extend %fc;
                > img{width: 100%;}
            }
            &.img{flex-wrap: wrap;
                .images{width: 100%;@extend %fc;
                    figcaption{column-count: 4;column-gap: 0;font-size: 0;background:var(--g7);
                        > img{break-inside: avoid-column;}
                    }
                }
            }
        }        
        img{cursor: pointer;}
        span{background: var(--g1);padding: 10px 12px;line-height: 1.3;color:var(--f1);font-weight: bold;}
    }
    .hd{font-weight: bold;color:var(--f1);line-height: 1.3;font-size: 24px;}
    b, strong, .hd{color: var(--f1);}    
}

@media (min-width:576px) and (max-width:991px){
    .family .imgText {padding-inline: 16px;}
    .family .imgText > figure {padding-block: 16px;gap:16px;}
}
@media (min-width:768px) and (max-width:991px){
    .family .imgText > figure.img .images figcaption {column-count: 3;}
}
@media (max-width:767px){
    .family .content p, .family .content ul, .family .content ol{margin-bottom: 6px;}
    .family .hd{font-size: 20px;}
    .family .imgText > figure.img .images figcaption {column-count: 2;}
}
@media (min-width:576px) and (max-width:767px){
    .family .imgText > figure > figcaption {width: 200px;}
}
@media (max-width:575px){
    .family .imgText{padding-inline: 0;border:none;}
    .family .imgText > figure{flex-direction: column;padding-block: 0;gap:10px;}
    .family .imgText > figure:not(:last-child){border-bottom-width: 4px;padding-bottom: 16px;margin-bottom: 16px;}
    .family .imgText > figure > figcaption{width: 100%;}
}