.cricMoments{
    .colors{width: 100%;display: flex;flex-wrap: wrap;
        article{width: 33.33%;position: relative;@extend %fc;}
        img{width: 100%;}
        span{position: absolute;left:16px;bottom:16px;background: var(--u);color:#fff;padding: 8px 8px;line-height: 1.2;gap:4px;display: flex;}
    }
}

@media (min-width:451px) and (max-width:991px){
    .cricMoments .colors article{width: 50%;}
}
@media (max-width:575px){
    .cricMoments .colors article span{left:12px;bottom:12px;}
}
@media (max-width:450px){
    .cricMoments .colors article{width: 100%;}
}